### Predicting the Severity of Automobile Accidents in Seattle, Washington ###

In this first week, you will discover your
project objectives, find your dataset that you will use for this capstone project, and publish your
dataset on GitHub.

In the second week, you will build your machine
learning solution.

In the third week,
you will finalize your model and be ready
to submit your work.

To complete capstone,
you will be working on a case study which is to predict the severity
of an accident.
Now, wouldn't it be great if there were something in place that could warn you, 
given the weather and the road conditions,
about the possibility of you getting into a car accident and how severe it would be,
so that you would drive more carefully or even change your travel plans?
Let's use our shared data for Seattle, Washington as an example of how to deal with the accidents data.

In [1]:
# Import packages.
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [2]:
# NOTE: >>> help(pd.options.display. <TAB>
# pd.options.display.chop_threshold      pd.options.display.float_format        pd.options.display.max_info_columns    pd.options.display.notebook_repr_html
# pd.options.display.colheader_justify   pd.options.display.html                pd.options.display.max_info_rows       pd.options.display.pprint_nest_depth
# pd.options.display.column_space        pd.options.display.large_repr          pd.options.display.max_rows            pd.options.display.precision
# pd.options.display.date_dayfirst       pd.options.display.latex               pd.options.display.max_seq_items       pd.options.display.show_dimensions
# pd.options.display.date_yearfirst      pd.options.display.max_categories      pd.options.display.memory_usage        pd.options.display.unicode
# pd.options.display.encoding            pd.options.display.max_columns         pd.options.display.min_rows            pd.options.display.width
# pd.options.display.expand_frame_repr   pd.options.display.max_colwidth        pd.options.display.multi_sparse        

# Create a list of display options.
list_of_display_options_fully_qualified_names = str(\
"pd.options.display.chop_threshold, pd.options.display.float_format, pd.options.display.max_info_columns, pd.options.display.notebook_repr_html, \
pd.options.display.colheader_justify, pd.options.display.html, pd.options.display.max_info_rows, pd.options.display.pprint_nest_depth, \
pd.options.display.column_space, pd.options.display.large_repr, pd.options.display.max_rows, pd.options.display.precision, \
pd.options.display.date_dayfirst, pd.options.display.latex, pd.options.display.max_seq_items, pd.options.display.show_dimensions, \
pd.options.display.date_yearfirst, pd.options.display.max_categories, pd.options.display.memory_usage, pd.options.display.unicode, \
pd.options.display.encoding, pd.options.display.max_columns, pd.options.display.min_rows, pd.options.display.width, \
pd.options.display.expand_frame_repr, pd.options.display.max_colwidth, pd.options.display.multi_sparse").split(sep=', ')

# Print the number of display options in the list.
#print("Number of display options:", list_of_display_options_fully_qualified_names.__len__())
#print()
#print()

# Initialize an empty list to store all the short names for display options.
list_of_display_options_short_names = list()
# For each display option,
# print the fully qualified option name, 
# the short option name, 
# and a description of the option.
for fully_qualified_option_name in list_of_display_options_fully_qualified_names:
    # Print fully qualifed option name.
    #print("Fully qualified option name:", fully_qualified_option_name)
    
    # Set short option name.
    short_option_name = fully_qualified_option_name.split(sep='.')[-1]
    
    # Add short option name to list of display option short names.
    list_of_display_options_short_names.append(short_option_name)
    
    # Print short option name.
    #print("Short option name:", short_option_name)
    
    # Print a description of option.
    #pd.describe_option(short_option_name)

print(list_of_display_options_short_names)
print()

# Define dictionary of display option settings.
dict_of_display_option_settings_short_names=\
{"max_info_columns": 100,\
"max_info_rows": 200,\
"max_columns": 100,\
"max_rows": 200,\
"precision": 9,\
"max_seq_items": None,\
"show_dimensions": True,\
"max_categories": 1000,\
"max_colwidth": 100,\
"float_format": lambda x: '%.3f' % x}

print(dict_of_display_option_settings_short_names)
print()
# Set and print selected pandas display options.
for key in list(dict_of_display_option_settings_short_names.keys()):
    # Set display option.
    pd.set_option(key, dict_of_display_option_settings_short_names[key])
    # Print display option name and value.
    print(key, ": ", pd.get_option(key), sep='')
    print()

['chop_threshold', 'float_format', 'max_info_columns', 'notebook_repr_html', 'colheader_justify', 'html', 'max_info_rows', 'pprint_nest_depth', 'column_space', 'large_repr', 'max_rows', 'precision', 'date_dayfirst', 'latex', 'max_seq_items', 'show_dimensions', 'date_yearfirst', 'max_categories', 'memory_usage', 'unicode', 'encoding', 'max_columns', 'min_rows', 'width', 'expand_frame_repr', 'max_colwidth', 'multi_sparse']

{'max_info_columns': 100, 'max_info_rows': 200, 'max_columns': 100, 'max_rows': 200, 'precision': 9, 'max_seq_items': None, 'show_dimensions': True, 'max_categories': 1000, 'max_colwidth': 100, 'float_format': <function <lambda> at 0x7faf37cd5700>}

max_info_columns: 100

max_info_rows: 200

max_columns: 100

max_rows: 200

precision: 9

max_seq_items: None

show_dimensions: True

max_categories: 1000

max_colwidth: 100

float_format: <function <lambda> at 0x7faf37cd5700>

# Display all columns.
#pd.set_option("display.max_columns", None) 
#print(pd.get_option("display.max_columns"))

# Display at most 100 rows.
#pd.set_option("display.max_rows", 100) 
#print(pd.get_option("display.max_rows"))

# Display maximum precision.
#pd.set_option("display.float_format", 100)
#print(pd.get_option("display.float_format"))

In [3]:
# Attribute Information URL: https://www.seattle.gov/Documents/Departments/SDOT/GIS/Collisions_OD.pdf
# Read the Collisions Data CSV file and store it as a DataFrame.
url="http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv?outSR={%22latestWkid%22:2926,%22wkid%22:2926}"
df=pd.read_csv(url, low_memory=False)

In [4]:
# View the first few rows of the collisions DataFrame.
df.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1273535.055,225839.134,1,328476,329976,EA08706,Matched,Block,nan,BROADWAY BETWEEN E COLUMBIA ST AND BOYLSTON AVE,,NaN,1,Property Damage Only Collision,Sideswipe,2,0,0,2,0,0,0,2020/01/22 00:00:00+00,1/22/2020 3:21:00 PM,Mid-Block (not related to intersection),11.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",NaN,N,Raining,Wet,Dark - Street Lights On,NaN,nan,NaN,11,From same direction - both going straight - both moving - sideswipe,0,0,N
1,1274202.093,245094.095,2,328142,329642,EA06882,Matched,Block,nan,8TH AVE NE BETWEEN NE 45TH E ST AND NE 47TH ST,,NaN,1,Property Damage Only Collision,Parked Car,2,0,0,2,0,0,0,2020/01/07 00:00:00+00,1/7/2020 8:00:00 AM,Mid-Block (not related to intersection),15.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE",NaN,N,Clear,Dry,Daylight,NaN,nan,NaN,32,One parked--one moving,0,0,Y
2,1271830.520,224042.637,3,20700,20700,1181833,Unmatched,Block,nan,JAMES ST BETWEEN 6TH AVE AND 7TH AVE,NaN,NaN,0,Unknown,NaN,0,0,0,0,0,0,0,2004/01/30 00:00:00+00,1/30/2004,Mid-Block (but intersection related),11.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",NaN,NaN,NaN,NaN,NaN,NaN,4030032.000,NaN,NaN,NaN,0,0,N
3,1272568.544,262054.386,4,332126,333626,M16001640,Unmatched,Block,nan,NE NORTHGATE WAY BETWEEN 1ST AVE NE AND NE NORTHGATE DR,,NaN,0,Unknown,NaN,0,0,0,0,0,0,0,2016/01/23 00:00:00+00,1/23/2016,Mid-Block (not related to intersection),11.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,,NaN,0,0,N
4,1280249.222,207323.483,5,328238,329738,3857118,Unmatched,Block,nan,M L KING JR ER WAY S BETWEEN S ANGELINE ST AND S EDMUNDS ST,,NaN,0,Unknown,NaN,0,0,0,0,0,0,0,2020/01/26 00:00:00+00,1/26/2020,Mid-Block (not related to intersection),28.000,MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,,NaN,0,0,N

In [5]:
# Print a concise, technical summary of the collisions DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221389 entries, 0 to 221388
Data columns (total 40 columns):
 #   Column           Dtype
---  ------           -----
 0   X                float64
 1   Y                float64
 2   OBJECTID         int64
 3   INCKEY           int64
 4   COLDETKEY        int64
 5   REPORTNO         object
 6   STATUS           object
 7   ADDRTYPE         object
 8   INTKEY           float64
 9   LOCATION         object
 10  EXCEPTRSNCODE    object
 11  EXCEPTRSNDESC    object
 12  SEVERITYCODE     object
 13  SEVERITYDESC     object
 14  COLLISIONTYPE    object
 15  PERSONCOUNT      int64
 16  PEDCOUNT         int64
 17  PEDCYLCOUNT      int64
 18  VEHCOUNT         int64
 19  INJURIES         int64
 20  SERIOUSINJURIES  int64
 21  FATALITIES       int64
 22  INCDATE          object
 23  INCDTTM          object
 24  JUNCTIONTYPE     object
 25  SDOT_COLCODE     float64
 26  SDOT_COLDESC     object
 27  INATTENTIONIND   object
 28  UNDERINFL        object
 29  WEATHER          object
 30  ROADCOND         object
 31  LIGHTCOND        object
 32  PEDROWNOTGRNT    object
 33  SDOTCOLNUM       float64
 34  SPEEDING         object
 35  ST_COLCODE       object
 36  ST_COLDESC       object
 37  SEGLANEKEY       int64
 38  CROSSWALKKEY     int64
 39  HITPARKEDCAR     object
dtypes: float64(5), int64(12), object(23)
memory usage: 67.6+ MB

<h2 id="data_wrangling">Data Wrangling</h2>

Steps for working with missing data:
<ol>
    <li>Identify missing data.</li>
    <li>Deal with missing data.</li>
    <li>Correct data format.</li>
</ol>

<h3 id="identifying_missing_data">Identifying Missing Data</h3>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [6]:
missing_data = df.isnull()
missing_data.head(5)

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,False,True,True,True,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,False,True,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,False,True,False,False,False

"True" identifies a missing value, while "False" indicates that a value is not missing value.

<h4>Count the Missing Values in each Column</h4>
<p>
We use a for loop to count the number of missing ("True") values in each column of the collisions DataFrame.
</p>

In [7]:
# Print the number of missing ("True") values in each column of the collisions DataFrame
for column in list(missing_data.columns):
    print(column, "(True -> NaN)")
    print(missing_data[column].value_counts())
    print()

X (True -> NaN)
False    213918
True       7471
Name: X, Length: 2, dtype: int64

Y (True -> NaN)
False    213918
True       7471
Name: Y, Length: 2, dtype: int64

OBJECTID (True -> NaN)
False    221389
Name: OBJECTID, Length: 1, dtype: int64

INCKEY (True -> NaN)
False    221389
Name: INCKEY, Length: 1, dtype: int64

COLDETKEY (True -> NaN)
False    221389
Name: COLDETKEY, Length: 1, dtype: int64

REPORTNO (True -> NaN)
False    221389
Name: REPORTNO, Length: 1, dtype: int64

STATUS (True -> NaN)
False    221389
Name: STATUS, Length: 1, dtype: int64

ADDRTYPE (True -> NaN)
False    217677
True       3712
Name: ADDRTYPE, Length: 2, dtype: int64

INTKEY (True -> NaN)
True     149505
False     71884
Name: INTKEY, Length: 2, dtype: int64

LOCATION (True -> NaN)
False    216801
True       4588
Name: LOCATION, Length: 2, dtype: int64

EXCEPTRSNCODE (True -> NaN)
True     120403
False    100986
Name: EXCEPTRSNCODE, Length: 2, dtype: int64

EXCEPTRSNDESC (True -> NaN)
True     209610
False     11779
Name: EXCEPTRSNDESC, Length: 2, dtype: int64

SEVERITYCODE (True -> NaN)
False    221388
True          1
Name: SEVERITYCODE, Length: 2, dtype: int64

SEVERITYDESC (True -> NaN)
False    221389
Name: SEVERITYDESC, Length: 1, dtype: int64

COLLISIONTYPE (True -> NaN)
False    195159
True      26230
Name: COLLISIONTYPE, Length: 2, dtype: int64

PERSONCOUNT (True -> NaN)
False    221389
Name: PERSONCOUNT, Length: 1, dtype: int64

PEDCOUNT (True -> NaN)
False    221389
Name: PEDCOUNT, Length: 1, dtype: int64

PEDCYLCOUNT (True -> NaN)
False    221389
Name: PEDCYLCOUNT, Length: 1, dtype: int64

VEHCOUNT (True -> NaN)
False    221389
Name: VEHCOUNT, Length: 1, dtype: int64

INJURIES (True -> NaN)
False    221389
Name: INJURIES, Length: 1, dtype: int64

SERIOUSINJURIES (True -> NaN)
False    221389
Name: SERIOUSINJURIES, Length: 1, dtype: int64

FATALITIES (True -> NaN)
False    221389
Name: FATALITIES, Length: 1, dtype: int64

INCDATE (True -> NaN)
False    221389
Name: INCDATE, Length: 1, dtype: int64

INCDTTM (True -> NaN)
False    221389
Name: INCDTTM, Length: 1, dtype: int64

JUNCTIONTYPE (True -> NaN)
False    209417
True      11972
Name: JUNCTIONTYPE, Length: 2, dtype: int64

SDOT_COLCODE (True -> NaN)
False    221388
True          1
Name: SDOT_COLCODE, Length: 2, dtype: int64

SDOT_COLDESC (True -> NaN)
False    221388
True          1
Name: SDOT_COLDESC, Length: 2, dtype: int64

INATTENTIONIND (True -> NaN)
True     191201
False     30188
Name: INATTENTIONIND, Length: 2, dtype: int64

UNDERINFL (True -> NaN)
False    195179
True      26210
Name: UNDERINFL, Length: 2, dtype: int64

WEATHER (True -> NaN)
False    194969
True      26420
Name: WEATHER, Length: 2, dtype: int64

ROADCOND (True -> NaN)
False    195050
True      26339
Name: ROADCOND, Length: 2, dtype: int64

LIGHTCOND (True -> NaN)
False    194880
True      26509
Name: LIGHTCOND, Length: 2, dtype: int64

PEDROWNOTGRNT (True -> NaN)
True     216197
False      5192
Name: PEDROWNOTGRNT, Length: 2, dtype: int64

SDOTCOLNUM (True -> NaN)
False    127205
True      94184
Name: SDOTCOLNUM, Length: 2, dtype: int64

SPEEDING (True -> NaN)
True     211461
False      9928
Name: SPEEDING, Length: 2, dtype: int64

ST_COLCODE (True -> NaN)
False    211976
True       9413
Name: ST_COLCODE, Length: 2, dtype: int64

ST_COLDESC (True -> NaN)
False    195159
True      26230
Name: ST_COLDESC, Length: 2, dtype: int64

SEGLANEKEY (True -> NaN)
False    221389
Name: SEGLANEKEY, Length: 1, dtype: int64

CROSSWALKKEY (True -> NaN)
False    221389
Name: CROSSWALKKEY, Length: 1, dtype: int64

HITPARKEDCAR (True -> NaN)
False    221389
Name: HITPARKEDCAR, Length: 1, dtype: int64

In [8]:
# Initialize a list to hold the names of all the columns that are missing data.
list_of_columns_with_missing_data = list()

# For each column in the collisions DataFrame,
# if the Series contains at least one NaN, 
# then add the column name to the list of column names that are missing data.
for column in df.columns.values.tolist():
    if df[column].hasnans:
        list_of_columns_with_missing_data.append(column)

print("Total number of columns: %d" % df.columns.size)
print()
print("Names of all columns:")
print(df.columns)
print()
print("Number of columns that are missing data: %d" % list_of_columns_with_missing_data.__len__())
print()
print("Names of columns missing data:")
print(list_of_columns_with_missing_data)

Total number of columns: 40

Names of all columns:
Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

Number of columns that are missing data: 22

Names of columns missing data:
['X', 'Y', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'SEVERITYCODE', 'COLLISIONTYPE', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC']

In [9]:
# Note: value_counts(self, normalize=False, sort=True, ascending=False, bins=None, dropna=True)
# For each column with missing data,
# print normalized value counts.
starting_index = 0
for column in list_of_columns_with_missing_data:#[starting_index:starting_index + 1]:
    print(column, ": ", df[column].dtype, sep='')
    print()
    print("Relative Frequencies:")
    print(df[column].value_counts(normalize=True, dropna=False))
    print()

X: float64

Relative Frequencies:
nan           0.034
1271306.397   0.001
1268353.834   0.001
1271692.215   0.001
1268385.368   0.001
               ...
1278324.402   0.000
1269153.198   0.000
1264316.899   0.000
1282793.205   0.000
1274789.992   0.000
Name: X, Length: 24973, dtype: float64

Y: float64

Relative Frequencies:
nan          0.034
262090.949   0.001
265256.610   0.001
223960.667   0.001
268124.504   0.001
              ...
243483.471   0.000
250917.522   0.000
249624.026   0.000
261384.258   0.000
199572.449   0.000
Name: Y, Length: 24971, dtype: float64

ADDRTYPE: object

Relative Frequencies:
Block          0.655
Intersection   0.325
NaN            0.017
Alley          0.004
Name: ADDRTYPE, Length: 4, dtype: float64

INTKEY: float64

Relative Frequencies:
nan         0.675
29973.000   0.001
29933.000   0.001
29913.000   0.001
29549.000   0.001
             ...
31672.000   0.000
37254.000   0.000
31674.000   0.000
35224.000   0.000
27795.000   0.000
Name: INTKEY, Length: 7915, dtype: float64

LOCATION: object

Relative Frequencies:
NaN                                                              0.021
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N   0.001
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N         0.001
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB   0.001
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                   0.001
                                                                  ...
SW GENESEE ST BETWEEN 44TH AVE SW AND 45TH AVE SW                0.000
16TH AVE NE BETWEEN NE 85TH ST AND NE 86TH ST                    0.000
37TH AVE NE BETWEEN NE 80TH ST AND NE 82ND ST                    0.000
4TH AVE W AND W ROY ST                                           0.000
27TH AVE W AND W HALLADAY ST                                     0.000
Name: LOCATION, Length: 25199, dtype: float64

EXCEPTRSNCODE: object

Relative Frequencies:
NaN   0.544
      0.403
NEI   0.053
Name: EXCEPTRSNCODE, Length: 3, dtype: float64

EXCEPTRSNDESC: object

Relative Frequencies:
NaN                                                            0.947
Not Enough Information, or Insufficient Location Information   0.053
Name: EXCEPTRSNDESC, Length: 2, dtype: float64

SEVERITYCODE: object

Relative Frequencies:
1     0.622
2     0.265
0     0.098
2b    0.014
3     0.002
NaN   0.000
Name: SEVERITYCODE, Length: 6, dtype: float64

COLLISIONTYPE: object

Relative Frequencies:
Parked Car   0.219
Angles       0.161
Rear Ended   0.157
NaN          0.118
Other        0.111
Sideswipe    0.085
Left Turn    0.064
Pedestrian   0.035
Cycles       0.027
Right Turn   0.014
Head On      0.010
Name: COLLISIONTYPE, Length: 11, dtype: float64

JUNCTIONTYPE: object

Relative Frequencies:
Mid-Block (not related to intersection)             0.459
At Intersection (intersection related)              0.312
Mid-Block (but intersection related)                0.110
NaN                                                 0.054
Driveway Junction                                   0.052
At Intersection (but not related to intersection)   0.011
Ramp Junction                                       0.001
Unknown                                             0.000
Name: JUNCTIONTYPE, Length: 8, dtype: float64

SDOT_COLCODE: float64

Relative Frequencies:
11.000   0.416
14.000   0.268
0.000    0.087
16.000   0.049
28.000   0.043
24.000   0.035
13.000   0.031
26.000   0.023
18.000   0.016
15.000   0.008
12.000   0.008
51.000   0.007
29.000   0.003
21.000   0.001
56.000   0.001
27.000   0.001
54.000   0.001
23.000   0.001
48.000   0.001
31.000   0.001
25.000   0.000
34.000   0.000
64.000   0.000
69.000   0.000
33.000   0.000
55.000   0.000
66.000   0.000
22.000   0.000
44.000   0.000
32.000   0.000
53.000   0.000
61.000   0.000
68.000   0.000
35.000   0.000
58.000   0.000
36.000   0.000
46.000   0.000
52.000   0.000
47.000   0.000
87.000   0.000
nan      0.000
Name: SDOT_COLCODE, Length: 41, dtype: float64

SDOT_COLDESC: object

Relative Frequencies:
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE                 0.416
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END                           0.268
NOT ENOUGH INFORMATION / NOT APPLICABLE                                0.087
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE                0.049
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                          0.043
MOTOR VEHCILE STRUCK PEDESTRIAN                                        0.035
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE AT ANGLE                 0.031
MOTOR VEHICLE STRUCK OBJECT IN ROAD                                    0.023
MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE                  0.016
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE               0.008
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE AT ANGLE                0.008
PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT ANGLE                   0.007
MOTOR VEHICLE OVERTURNED IN ROAD                                       0.003
MOTOR VEHICLE STRUCK PEDALCYCLIST, REAR END                            0.001
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE                  0.001
MOTOR VEHICLE RAN OFF ROAD - NO COLLISION                              0.001
PEDALCYCLIST STRUCK MOTOR VEHICLE REAR END                             0.001
MOTOR VEHICLE STRUCK PEDALCYCLIST, LEFT SIDE SIDESWIPE                 0.001
DRIVERLESS VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                     0.001
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT END AT ANGLE             0.001
MOTOR VEHICLE STRUCK TRAIN                                             0.000
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE REAR END                       0.000
PEDALCYCLIST STRUCK PEDESTRIAN                                         0.000
PEDALCYCLIST OVERTURNED IN ROAD                                        0.000
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE             0.000
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE                 0.000
PEDALCYCLIST STRUCK OBJECT IN ROAD                                     0.000
MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE                0.000
DRIVERLESS VEHICLE STRUCK PEDESTRIAN                                   0.000
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE            0.000
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                   0.000
PEDALCYCLIST STRUCK PEDALCYCLIST REAR END                              0.000
PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT                           0.000
PEDALCYCLIST STRUCK PEDALCYCLIST FRONT END AT ANGLE                    0.000
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE           0.000
DRIVERLESS VEHICLE STRUCK OBJECT IN ROADWAY                            0.000
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE            0.000
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE                  0.000
DRIVERLESS VEHICLE RAN OFF ROAD - NO COLLISION                         0.000
MOTORIZED SCOOTER COLLISION: COLLISION INVOLVING A MOTORIZED SCOOTER   0.000
NaN                                                                    0.000
Name: SDOT_COLDESC, Length: 41, dtype: float64

INATTENTIONIND: object

Relative Frequencies:
NaN   0.864
Y     0.136
Name: INATTENTIONIND, Length: 2, dtype: float64

UNDERINFL: object

Relative Frequencies:
N     0.469
0     0.369
NaN   0.118
Y     0.024
1     0.019
Name: UNDERINFL, Length: 5, dtype: float64

WEATHER: object

Relative Frequencies:
Clear                      0.518
Raining                    0.154
Overcast                   0.129
NaN                        0.119
Unknown                    0.068
Snowing                    0.004
Other                      0.004
Fog/Smog/Smoke             0.003
Sleet/Hail/Freezing Rain   0.001
Blowing Sand/Dirt          0.000
Severe Crosswind           0.000
Partly Cloudy              0.000
Blowing Snow               0.000
Name: WEATHER, Length: 13, dtype: float64

ROADCOND: object

Relative Frequencies:
Dry              0.581
Wet              0.220
NaN              0.119
Unknown          0.068
Ice              0.006
Snow/Slush       0.005
Other            0.001
Standing Water   0.001
Sand/Mud/Dirt    0.000
Oil              0.000
Name: ROADCOND, Length: 10, dtype: float64

LIGHTCOND: object

Relative Frequencies:
Daylight                   0.540
Dark - Street Lights On    0.226
NaN                        0.120
Unknown                    0.061
Dusk                       0.027
Dawn                       0.012
Dark - No Street Lights    0.007
Dark - Street Lights Off   0.006
Other                      0.001
Dark - Unknown Lighting    0.000
Name: LIGHTCOND, Length: 10, dtype: float64

PEDROWNOTGRNT: object

Relative Frequencies:
NaN   0.977
Y     0.023
Name: PEDROWNOTGRNT, Length: 2, dtype: float64

SDOTCOLNUM: float64

Relative Frequencies:
nan            0.425
4318022.000    0.000
4038007.000    0.000
4342051.000    0.000
4354014.000    0.000
                ...
10282046.000   0.000
12063010.000   0.000
10059023.000   0.000
10121010.000   0.000
5250055.000    0.000
Name: SDOTCOLNUM, Length: 127187, dtype: float64

SPEEDING: object

Relative Frequencies:
NaN   0.955
Y     0.045
Name: SPEEDING, Length: 2, dtype: float64

ST_COLCODE: object

Relative Frequencies:
32    0.203
10    0.161
14    0.118
      0.076
50    0.064
11    0.059
28    0.048
NaN   0.043
13    0.035
45    0.023
23    0.021
0     0.016
15    0.014
16    0.014
20    0.013
12    0.011
2     0.011
22    0.010
21    0.007
30    0.006
1     0.006
71    0.005
26    0.005
52    0.004
81    0.004
19    0.003
24    0.003
5     0.002
51    0.002
74    0.002
6     0.001
29    0.001
3     0.001
27    0.001
73    0.001
4     0.001
25    0.001
57    0.000
40    0.000
84    0.000
83    0.000
72    0.000
41    0.000
64    0.000
31    0.000
82    0.000
56    0.000
53    0.000
48    0.000
8     0.000
7     0.000
42    0.000
65    0.000
66    0.000
17    0.000
67    0.000
88    0.000
18    0.000
54    0.000
43    0.000
87    0.000
85    0.000
60    0.000
49    0.000
Name: ST_COLCODE, Length: 64, dtype: float64

ST_COLDESC: object

Relative Frequencies:
One parked--one moving                                                                  0.203
Entering at angle                                                                       0.161
NaN                                                                                     0.118
From same direction - both going straight - one stopped - rear-end                      0.118
Fixed object                                                                            0.064
From same direction - both going straight - both moving - sideswipe                     0.059
From opposite direction - one left turn - one straight                                  0.048
From same direction - both going straight - both moving - rear-end                      0.035
Vehicle - Pedalcyclist                                                                  0.023
From same direction - all others                                                        0.021
Vehicle going straight hits pedestrian                                                  0.016
From same direction - one left turn - one straight                                      0.014
From same direction - one right turn - one straight                                     0.014
One car leaving parked position                                                         0.013
From same direction - both going straight - one stopped - sideswipe                     0.011
Vehicle turning left hits pedestrian                                                    0.011
One car leaving driveway access                                                         0.010
One car entering driveway access                                                        0.007
From opposite direction - all others                                                    0.006
Vehicle turning right hits pedestrian                                                   0.006
Same direction -- both turning right -- both moving -- sideswipe                        0.005
From opposite direction - both going straight - sideswipe                               0.005
Vehicle overturned                                                                      0.004
Same direction -- both turning left -- both moving -- sideswipe                         0.004
One car entering parked position                                                        0.003
From opposite direction - both moving - head-on                                         0.003
Vehicle Strikes Pedalcyclist                                                            0.002
Other object                                                                            0.002
Same direction -- both turning right -- one stopped -- rear end                         0.002
Pedalcyclist Strikes Moving Vehicle                                                     0.001
From opposite direction - one left turn - one right turn                                0.001
Vehicle backing hits pedestrian                                                         0.001
From opposite direction - both going straight - one stopped - sideswipe                 0.001
Same direction -- both turning right -- both moving -- rear end                         0.001
Vehicle hits Pedestrian - All Other Actions                                             0.001
From opposite direction - one stopped - head-on                                         0.001
All other non-collision                                                                 0.000
Railway Vehicle Strikes Vehicle                                                         0.000
Same direction -- both turning left -- one stopped -- rear end                          0.000
Same direction -- both turning left -- both moving -- rear end                          0.000
Same direction -- both turning right -- one stopped -- sideswipe                        0.000
Vehicle Strikes Railway Vehicle                                                         0.000
Vehicle Hits City Road or Construction Machinery                                        0.000
Not stated                                                                              0.000
Breakage of any part of the vehicle resulting in injury or in further property damage   0.000
Same direction -- both turning left -- one stopped -- sideswipe                         0.000
Person fell, jumped or was pushed from vehicle                                          0.000
Domestic animal other (cat, dog, etc)                                                   0.000
Pedalcyclist All Other Involvements ONE UNIT - PEDALCYCLIST ONLY or PEDALCYCLIST STR    0.000
Pedalcyclist Strikes Pedalcyclist or Pedestrian                                         0.000
Railway Vehicle Strikes Pedestrian                                                      0.000
Vehicle Struck by City Road or Construction Machinery                                   0.000
Vehicle Hits Other Road or Construction Machinery                                       0.000
Vehicle Struck by Other Road or Construction Machinery                                  0.000
Strikes or Was Struck by Object from the Load of Another Vehicle                        0.000
All Other Multi Vehicle                                                                 0.000
Strikes or Was Struck by a Part of Another Vehicle (Not from Load)                      0.000
Fire started in vehicle                                                                 0.000
Railway Vehicle Strikes Pedalcyclist                                                    0.000
Vehicle Strikes All Other Non-Domestic Animal                                           0.000
Vehicle Hits State Road or Construction Machinery                                       0.000
Non-domestic animal (deer, bear, elk, etc)                                              0.000
Vehicle Strikes Deer                                                                    0.000
Name: ST_COLDESC, Length: 63, dtype: float64

<h3 id="deal_with_missing_data">Deal with Missing Data</h3>

<ol>
    <li>Drop the Data
        <ol>
            <li>Drop entire row.</li>
            <li>Drop entire column.</li>
        </ol>
    </li>
    <li>Replace the Data
        <ol>
            <li>Replace data by mean.</li>
            <li>Replace data by frequency.</li>
            <li>Replace data based on other functions.</li>
        </ol>
    </li>
        
</ol>

Whole columns should be dropped only if most entries in the column are empty.
If the feature to be predicted, "SEVERITYCODE", is missing from a row,
then that entire row must be dropped from the DataFrame.

In [26]:
type(np.nan)

float

In [10]:
# Print all the column labels for the collisions DataFrame.
df.columns

Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [43]:
# NOTE: astype(self: ~FrameOrSeries, dtype, copy: bool = True, errors: str = 'raise') -> ~FrameOrSeries 
#    dtype : data type, or dict of column name -> data type
#        Use a numpy.dtype or Python type to cast entire pandas object to
#        the same type. Alternatively, use {col: dtype, ...}, where col is a
#        column label and dtype is a numpy.dtype or Python type to cast one
#        or more of the DataFrame's columns to column-specific types.

# Print a description of the selected column and the first few values of the column
# from the collisions DatatFrame,
# where the dtype is presented first in its original form from the collisions DataFrame,
# then again after being cast to categorical type.
column = list(df.columns.values)[9]
#print(column, " dtype: ", df[column].dtype, sep='')
#print(df[[column]].info())
print(df[[column]].describe(include="all"))
print(column, "Relative Frequency")
print(df[column].value_counts(normalize=True, dropna=False))
#print(df[[column]].head())
print()
print()
print(column,"AFTER CONVERSION TO CATEGORICAL TYPE:")
print()
#print(df[[column]].astype(dtype="category").info())
print(df[[column]].astype(dtype="category").describe(include="all"))
print(column, "Relative Frequency")
print(df[column].astype(dtype="category").value_counts(normalize=True, dropna=False))
#print(df[[column]].astype(dtype="category").head())

                                                              LOCATION
count                                                           216801
unique                                                           25198
top     BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N
freq                                                               298

[4 rows x 1 columns]
LOCATION Relative Frequency
NaN                                                              0.021
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N   0.001
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N         0.001
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB   0.001
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                   0.001
                                                                  ...
SW GENESEE ST BETWEEN 44TH AVE SW AND 45TH AVE SW                0.000
16TH AVE NE BETWEEN NE 85TH ST AND NE 86TH ST                    0.000
37TH AVE NE BETWEEN NE 80TH ST AND NE 82ND ST                    0.000
4TH AVE W AND W ROY ST                                           0.000
27TH AVE W AND W HALLADAY ST                                     0.000
Name: LOCATION, Length: 25199, dtype: float64


LOCATION AFTER CONVERSION TO CATEGORICAL TYPE:

                                                              LOCATION
count                                                           216801
unique                                                           25198
top     BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N
freq                                                               298

[4 rows x 1 columns]
LOCATION Relative Frequency
NaN                                                              0.021
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N   0.001
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N         0.001
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB   0.001
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                   0.001
                                                                  ...
CONDON WAY W AND W MCGRAW ST                                     0.000
COMSTOCK ST BETWEEN QUEEN ANNE AVE N AND DEAD END 1              0.000
COMSTOCK ST BETWEEN DEAD END 2 AND DEXTER AVE N                  0.000
30TH AVE W BETWEEN W HAYES ST AND W BLAINE ST                    0.000
10TH AVE AND E ALDER ST                                          0.000
Name: LOCATION, Length: 25199, dtype: float64

In [36]:
# Drop any column from the collisions DataFrame if it satisfies at least
# one of the following conditions:

# 1) the column contains only identification keys or codes with no predictive value;
# 2) the column's data is does not fit into a small (<) categories, such as an address or location description; or
# 3) a significant proportion (>15%) of the data is NaN; or
# 4) it is not clear how to interperet the data.
list_of_columns_to_drop = ["X", "Y", "OBJECTID", "INCKEY", "COLDETKEY", "REPORTNO", "INTKEY", "LOCATION" ,"EXCEPTRSNCODE", "EXCEPTRSNDESC", "INATTENTIONIND", "PEDROWNOTGRNT", "SDOTCOLNUM", "SPEEDING"]

In [37]:
#NOTE: drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
# Drop the selected columns from the collisions DataFrame
# and store the result in a new DataFrame.
df_after_drop_columns = df.drop(columns=list_of_columns_to_drop, inplace=False)

In [38]:
# Print the first few rows of the DataFrame after dropping columns.
df_after_drop_columns.head()

,STATUS,ADDRTYPE,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,Matched,Block,1,Property Damage Only Collision,Sideswipe,2,0,0,2,0,0,0,2020/01/22 00:00:00+00,1/22/2020 3:21:00 PM,Mid-Block (not related to intersection),11.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",N,Raining,Wet,Dark - Street Lights On,11,From same direction - both going straight - both moving - sideswipe,0,0,N
1,Matched,Block,1,Property Damage Only Collision,Parked Car,2,0,0,2,0,0,0,2020/01/07 00:00:00+00,1/7/2020 8:00:00 AM,Mid-Block (not related to intersection),15.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE",N,Clear,Dry,Daylight,32,One parked--one moving,0,0,Y
2,Unmatched,Block,0,Unknown,NaN,0,0,0,0,0,0,0,2004/01/30 00:00:00+00,1/30/2004,Mid-Block (but intersection related),11.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",NaN,NaN,NaN,NaN,NaN,NaN,0,0,N
3,Unmatched,Block,0,Unknown,NaN,0,0,0,0,0,0,0,2016/01/23 00:00:00+00,1/23/2016,Mid-Block (not related to intersection),11.000,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE",NaN,NaN,NaN,NaN,,NaN,0,0,N
4,Unmatched,Block,0,Unknown,NaN,0,0,0,0,0,0,0,2020/01/26 00:00:00+00,1/26/2020,Mid-Block (not related to intersection),28.000,MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT,NaN,NaN,NaN,NaN,,NaN,0,0,N

In [39]:
# Print a concise, technical summary of the collisions DataFrame.
df_after_drop_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221389 entries, 0 to 221388
Data columns (total 26 columns):
 #   Column           Dtype
---  ------           -----
 0   STATUS           object
 1   ADDRTYPE         object
 2   SEVERITYCODE     object
 3   SEVERITYDESC     object
 4   COLLISIONTYPE    object
 5   PERSONCOUNT      int64
 6   PEDCOUNT         int64
 7   PEDCYLCOUNT      int64
 8   VEHCOUNT         int64
 9   INJURIES         int64
 10  SERIOUSINJURIES  int64
 11  FATALITIES       int64
 12  INCDATE          object
 13  INCDTTM          object
 14  JUNCTIONTYPE     object
 15  SDOT_COLCODE     float64
 16  SDOT_COLDESC     object
 17  UNDERINFL        object
 18  WEATHER          object
 19  ROADCOND         object
 20  LIGHTCOND        object
 21  ST_COLCODE       object
 22  ST_COLDESC       object
 23  SEGLANEKEY       int64
 24  CROSSWALKKEY     int64
 25  HITPARKEDCAR     object
dtypes: float64(1), int64(9), object(16)
memory usage: 43.9+ MB

In [41]:
# Print the proportion of missing ("True") values in each column.
for column in df_after_drop_columns.columns:
    print(column, "(True -> NaN)")
    print("Relative frequency:")
    print(df_after_drop_columns[column].isnull().value_counts(normalize=True, dropna=False))
    print(df_after_drop_columns[column].describe(include="all"))
    print()
    print()

STATUS (True -> NaN)
Relative frequency:
False   1.000
Name: STATUS, Length: 1, dtype: float64
count      221389
unique          2
top       Matched
freq       195232
Name: STATUS, Length: 4, dtype: object


ADDRTYPE (True -> NaN)
Relative frequency:
False   0.983
True    0.017
Name: ADDRTYPE, Length: 2, dtype: float64
count     217677
unique         3
top        Block
freq      144917
Name: ADDRTYPE, Length: 4, dtype: object


SEVERITYCODE (True -> NaN)
Relative frequency:
False   1.000
True    0.000
Name: SEVERITYCODE, Length: 2, dtype: float64
count     221388
unique         5
top            1
freq      137596
Name: SEVERITYCODE, Length: 4, dtype: object


SEVERITYDESC (True -> NaN)
Relative frequency:
False   1.000
Name: SEVERITYDESC, Length: 1, dtype: float64
count                             221389
unique                                 5
top       Property Damage Only Collision
freq                              137596
Name: SEVERITYDESC, Length: 4, dtype: object


COLLISIONTYPE (True -> NaN)
Relative frequency:
False   0.882
True    0.118
Name: COLLISIONTYPE, Length: 2, dtype: float64
count         195159
unique            10
top       Parked Car
freq           48541
Name: COLLISIONTYPE, Length: 4, dtype: object


PERSONCOUNT (True -> NaN)
Relative frequency:
False   1.000
Name: PERSONCOUNT, Length: 1, dtype: float64
count   221389.000
mean         2.227
std          1.470
min          0.000
25%          2.000
50%          2.000
75%          3.000
max         93.000
Name: PERSONCOUNT, Length: 8, dtype: float64


PEDCOUNT (True -> NaN)
Relative frequency:
False   1.000
Name: PEDCOUNT, Length: 1, dtype: float64
count   221389.000
mean         0.038
std          0.202
min          0.000
25%          0.000
50%          0.000
75%          0.000
max          6.000
Name: PEDCOUNT, Length: 8, dtype: float64


PEDCYLCOUNT (True -> NaN)
Relative frequency:
False   1.000
Name: PEDCYLCOUNT, Length: 1, dtype: float64
count   221389.000
mean         0.027
std          0.165
min          0.000
25%          0.000
50%          0.000
75%          0.000
max          2.000
Name: PEDCYLCOUNT, Length: 8, dtype: float64


VEHCOUNT (True -> NaN)
Relative frequency:
False   1.000
Name: VEHCOUNT, Length: 1, dtype: float64
count   221389.000
mean         1.731
std          0.829
min          0.000
25%          2.000
50%          2.000
75%          2.000
max         15.000
Name: VEHCOUNT, Length: 8, dtype: float64


INJURIES (True -> NaN)
Relative frequency:
False   1.000
Name: INJURIES, Length: 1, dtype: float64
count   221389.000
mean         0.374
std          0.732
min          0.000
25%          0.000
50%          0.000
75%          1.000
max         78.000
Name: INJURIES, Length: 8, dtype: float64


SERIOUSINJURIES (True -> NaN)
Relative frequency:
False   1.000
Name: SERIOUSINJURIES, Length: 1, dtype: float64
count   221389.000
mean         0.015
std          0.158
min          0.000
25%          0.000
50%          0.000
75%          0.000
max         41.000
Name: SERIOUSINJURIES, Length: 8, dtype: float64


FATALITIES (True -> NaN)
Relative frequency:
False   1.000
Name: FATALITIES, Length: 1, dtype: float64
count   221389.000
mean         0.002
std          0.045
min          0.000
25%          0.000
50%          0.000
75%          0.000
max          5.000
Name: FATALITIES, Length: 8, dtype: float64


INCDATE (True -> NaN)
Relative frequency:
False   1.000
Name: INCDATE, Length: 1, dtype: float64
count                     221389
unique                      6086
top       2006/11/02 00:00:00+00
freq                         103
Name: INCDATE, Length: 4, dtype: object


INCDTTM (True -> NaN)
Relative frequency:
False   1.000
Name: INCDTTM, Length: 1, dtype: float64
count        221389
unique       169519
top       11/2/2006
freq            103
Name: INCDTTM, Length: 4, dtype: object


JUNCTIONTYPE (True -> NaN)
Relative frequency:
False   0.946
True    0.054
Name: JUNCTIONTYPE, Length: 2, dtype: float64
count                                      209417
unique                                          7
top       Mid-Block (not related to intersection)
freq                                       101632
Name: JUNCTIONTYPE, Length: 4, dtype: object


SDOT_COLCODE (True -> NaN)
Relative frequency:
False   1.000
True    0.000
Name: SDOT_COLCODE, Length: 2, dtype: float64
count   221388.000
mean        13.383
std          7.302
min          0.000
25%         11.000
50%         11.000
75%         14.000
max         87.000
Name: SDOT_COLCODE, Length: 8, dtype: float64


SDOT_COLDESC (True -> NaN)
Relative frequency:
False   1.000
True    0.000
Name: SDOT_COLDESC, Length: 2, dtype: float64
count                                                     221388
unique                                                        40
top       MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE
freq                                                       92023
Name: SDOT_COLDESC, Length: 4, dtype: object


UNDERINFL (True -> NaN)
Relative frequency:
False   0.882
True    0.118
Name: UNDERINFL, Length: 2, dtype: float64
count     195179
unique         4
top            N
freq      103874
Name: UNDERINFL, Length: 4, dtype: object


WEATHER (True -> NaN)
Relative frequency:
False   0.881
True    0.119
Name: WEATHER, Length: 2, dtype: float64
count     194969
unique        12
top        Clear
freq      114694
Name: WEATHER, Length: 4, dtype: object


ROADCOND (True -> NaN)
Relative frequency:
False   0.881
True    0.119
Name: ROADCOND, Length: 2, dtype: float64
count     195050
unique         9
top          Dry
freq      128535
Name: ROADCOND, Length: 4, dtype: object


LIGHTCOND (True -> NaN)
Relative frequency:
False   0.880
True    0.120
Name: LIGHTCOND, Length: 2, dtype: float64
count       194880
unique           9
top       Daylight
freq        119448
Name: LIGHTCOND, Length: 4, dtype: object


ST_COLCODE (True -> NaN)
Relative frequency:
False   0.957
True    0.043
Name: ST_COLCODE, Length: 2, dtype: float64
count     211976
unique        63
top           32
freq       44922
Name: ST_COLCODE, Length: 4, dtype: object


ST_COLDESC (True -> NaN)
Relative frequency:
False   0.882
True    0.118
Name: ST_COLDESC, Length: 2, dtype: float64
count                     195159
unique                        62
top       One parked--one moving
freq                       44922
Name: ST_COLDESC, Length: 4, dtype: object


SEGLANEKEY (True -> NaN)
Relative frequency:
False   1.000
Name: SEGLANEKEY, Length: 1, dtype: float64
count   221389.000
mean       261.296
std       3247.954
min          0.000
25%          0.000
50%          0.000
75%          0.000
max     525241.000
Name: SEGLANEKEY, Length: 8, dtype: float64


CROSSWALKKEY (True -> NaN)
Relative frequency:
False   1.000
Name: CROSSWALKKEY, Length: 1, dtype: float64
count    221389.000
mean       9583.127
std       71483.111
min           0.000
25%           0.000
50%           0.000
75%           0.000
max     5239700.000
Name: CROSSWALKKEY, Length: 8, dtype: float64


HITPARKEDCAR (True -> NaN)
Relative frequency:
False   1.000
Name: HITPARKEDCAR, Length: 1, dtype: float64
count     221389
unique         2
top            N
freq      209392
Name: HITPARKEDCAR, Length: 4, dtype: object

In [ ]:
# dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
# Drop any row that contains at least one NaN.
print("Number of columns: %d" % list(df_after_drop_columns.columns).__len__())
df_after_drop_columns_and_rows = df_after_drop_columns.dropna(axis="index", how="any", thresh=df_after_drop_columns.columns.values.tolist().__len__, subset=None, inplace=False)

<h4>Count the Missing Values in each Column</h4>
<p>
We use a for loop to count the number of missing ("True") values in each column of the collisions DataFrame.
</p>

# Count the number of missing ("True") values in each column.
for column in missing_data_after_dropna.columns.values.tolist():
    print(column)
    print(missing_data_after_dropna[column].value_counts())
    print()

# Store all the numeric type columns of the collisions DataFradescribe a new
# DataFrame, and stores all the object type columns in another new DataFrame.

df_numeric = df.select_dtypes(include="number")
df_object = df.select_dtypes(include="object")

print("Number of numeric type columns in collisions DataFrame:", df_numeric.columns.size)
df_numeric.head()

print("Number of object type columns in collisions DataFrame:", df_object.columns.size)
df_object.head()

# For each column in the numeric DataFrame, print a description of the column.
for column in list(df_numeric.columns)[0:1]:
    #print(column)
    print(df_numeric[[column]].describe(include="all"))
    print()
    print(column, "relative frequency:")
    print(df_numeric[column].value_counts(normalize=True, dropna=False))
    print()
    print(column, "value count:")
    print(df_numeric[column].value_counts(normalize=False, dropna=False))
    print()
    print()

df_object[["SEVERITYCODE"]].describe(include='all')

df["SEVERITYCODE"].value_counts(dropna=False)

df["SEVERITYCODE"].value_counts(normalize=True, dropna=False)

df[df["SEVERITYCODE"].isnull() == True]

# Drop columns from the DataFrame that contain identifiers/keys with have no predictive value.
id_columns = ['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'SDOTCOLNUM', ]
df.drop(columns=id_columns, inplace=True)

# Compare two columns of DataFrame that have similar names.
pd.Series(df["SEVERITYCODE"] == df["SEVERITYCODE.1"]).value_counts()

# Columns SEVERITYCODE and SEVERITYCODE.1 are redundant,
# so drop column SEVERITYCODE.1 from the DataFrame.
df.drop(columns="SEVERITYCODE.1", inplace=True)

# Correct data format.

# Clean up time series
#df["INCDTTM"].value_counts().head(60)#ascending=True)