### Predicting the Severity of Automobile Accidents in Seattle, Washington ###

In this first week, you will discover your
project objectives, find your dataset that you will use for this capstone project, and publish your
dataset on GitHub.

In the second week, you will build your machine
learning solution.

In the third week,
you will finalize your model and be ready
to submit your work.

To complete capstone,
you will be working on a case study which is to predict the severity
of an accident.
Now, wouldn't it be great if there were something in place that could warn you, 
given the weather and the road conditions,
about the possibility of you getting into a car accident and how severe it would be,
so that you would drive more carefully or even change your travel plans?
Let's use our shared data for Seattle, Washington as an example of how to deal with the accidents data.

In [1]:
# Import packages.
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [2]:
# Set maximum number of columns and rows to display.
pd.set_option('display.max_columns', None) # Display all columns.
pd.set_option('display.max_rows', 100) # Display at most 100 rows.

In [3]:
# Attribute Information URL: https://www.seattle.gov/Documents/Departments/SDOT/GIS/Collisions_OD.pdf
# Read the Collisions Data CSV file and store it as a DataFrame.
url="http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv?outSR={%22latestWkid%22:2926,%22wkid%22:2926}"
df=pd.read_csv(url, low_memory=False)

In [4]:
# View the first few rows of the collisions DataFrame.
df.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1.256925e+06,209863.662731,1,326234,327734,E984735,Matched,Intersection,31893.0,CALIFORNIA AVE SW AND SW GENESEE ST,,NaN,2,Injury Collision,Pedestrian,2,1,0,1,1,0,0,2019/11/20 00:00:00+00,11/20/2019 10:25:00 AM,At Intersection (intersection related),24.0,MOTOR VEHCILE STRUCK PEDESTRIAN,NaN,N,Clear,Dry,Daylight,Y,NaN,NaN,2,Vehicle turning left hits pedestrian,0,0,N
1,1.268898e+06,254213.515448,2,326246,327746,E985430,Matched,Intersection,24228.0,STONE AVE N AND N 80TH ST,,NaN,2,Injury Collision,Angles,4,0,0,2,2,0,0,2019/11/18 00:00:00+00,11/18/2019 5:01:00 PM,At Intersection (intersection related),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Raining,Wet,Dark - Street Lights On,NaN,NaN,NaN,10,Entering at angle,0,0,N
2,1.260615e+06,247712.956786,3,329254,330754,EA16720,Matched,Block,NaN,NW MARKET ST BETWEEN 14TH AVE NW AND 15TH AVE NW,,NaN,1,Property Damage Only Collision,Sideswipe,4,0,0,3,0,0,0,2020/02/20 00:00:00+00,2/20/2020 8:42:00 AM,Mid-Block (not related to intersection),14.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",NaN,N,Clear,Dry,Daylight,NaN,NaN,NaN,11,From same direction - both going straight - bo...,0,0,N
3,1.278979e+06,252600.696759,4,21200,21200,1227970,Matched,Intersection,24661.0,25TH AVE NE AND NE 75TH ST,NaN,NaN,1,Property Damage Only Collision,Left Turn,2,0,0,2,0,0,0,2004/06/08 00:00:00+00,6/8/2004,At Intersection (intersection related),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,0,Raining,Wet,Dark - Street Lights On,NaN,4160038.0,NaN,28,From opposite direction - one left turn - one ...,0,0,N
4,1.275139e+06,210424.142220,5,17000,17000,1793348,Unmatched,Block,NaN,S DAKOTA ST BETWEEN 15TH AVE S AND 16TH AVE S,NaN,NaN,0,Unknown,NaN,0,0,0,0,0,0,0,2004/10/15 00:00:00+00,10/15/2004,Mid-Block (but intersection related),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,NaN,NaN,NaN,NaN,NaN,4289025.0,NaN,NaN,NaN,0,0,N

In [5]:
# Print a concise, technical summary of the collisions DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221266 entries, 0 to 221265
Data columns (total 40 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                213797 non-null  float64
 1   Y                213797 non-null  float64
 2   OBJECTID         221266 non-null  int64
 3   INCKEY           221266 non-null  int64
 4   COLDETKEY        221266 non-null  int64
 5   REPORTNO         221266 non-null  object
 6   STATUS           221266 non-null  object
 7   ADDRTYPE         217554 non-null  object
 8   INTKEY           71823 non-null   float64
 9   LOCATION         216680 non-null  object
 10  EXCEPTRSNCODE    100863 non-null  object
 11  EXCEPTRSNDESC    11775 non-null   object
 12  SEVERITYCODE     221265 non-null  object
 13  SEVERITYDESC     221266 non-null  object
 14  COLLISIONTYPE    194767 non-null  object
 15  PERSONCOUNT      221266 non-null  int64
 16  PEDCOUNT         221266 non-null  int64
 17  PEDCYLCOUNT      221266 non-null  int64
 18  VEHCOUNT         221266 non-null  int64
 19  INJURIES         221266 non-null  int64
 20  SERIOUSINJURIES  221266 non-null  int64
 21  FATALITIES       221266 non-null  int64
 22  INCDATE          221266 non-null  object
 23  INCDTTM          221266 non-null  object
 24  JUNCTIONTYPE     209299 non-null  object
 25  SDOT_COLCODE     221265 non-null  float64
 26  SDOT_COLDESC     221265 non-null  object
 27  INATTENTIONIND   30188 non-null   object
 28  UNDERINFL        194787 non-null  object
 29  WEATHER          194578 non-null  object
 30  ROADCOND         194658 non-null  object
 31  LIGHTCOND        194490 non-null  object
 32  PEDROWNOTGRNT    5188 non-null    object
 33  SDOTCOLNUM       127205 non-null  float64
 34  SPEEDING         9913 non-null    object
 35  ST_COLCODE       211853 non-null  object
 36  ST_COLDESC       194767 non-null  object
 37  SEGLANEKEY       221266 non-null  int64
 38  CROSSWALKKEY     221266 non-null  int64
 39  HITPARKEDCAR     221266 non-null  object
dtypes: float64(5), int64(12), object(23)
memory usage: 67.5+ MB

<h2 id="data_wrangling">Data Wrangling</h2>

Steps for working with missing data:
<ol>
    <li>Identify missing data.</li>
    <li>Deal with missing data.</li>
    <li>Correct data format.</li>
</ol>

<h3 id="identifying_missing_data">Identifying Missing Data</h3>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [6]:
missing_data = df.isnull()
missing_data.head(5)

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,False,True,True,True,False,False,False

"True" identifies a missing value, while "False" indicates that a value is not missing value.

<h4>Count the Missing Values in each Column</h4>
<p>
We use a for loop to count the number of missing ("True") values in each column of the collisions DataFrame.
</p>

In [7]:
# Count the number of missing ("True") values in each column.
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print()

X
False    213797
True       7469
Name: X, dtype: int64

Y
False    213797
True       7469
Name: Y, dtype: int64

OBJECTID
False    221266
Name: OBJECTID, dtype: int64

INCKEY
False    221266
Name: INCKEY, dtype: int64

COLDETKEY
False    221266
Name: COLDETKEY, dtype: int64

REPORTNO
False    221266
Name: REPORTNO, dtype: int64

STATUS
False    221266
Name: STATUS, dtype: int64

ADDRTYPE
False    217554
True       3712
Name: ADDRTYPE, dtype: int64

INTKEY
True     149443
False     71823
Name: INTKEY, dtype: int64

LOCATION
False    216680
True       4586
Name: LOCATION, dtype: int64

EXCEPTRSNCODE
True     120403
False    100863
Name: EXCEPTRSNCODE, dtype: int64

EXCEPTRSNDESC
True     209491
False     11775
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYCODE
False    221265
True          1
Name: SEVERITYCODE, dtype: int64

SEVERITYDESC
False    221266
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
False    194767
True      26499
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT
False    221266
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
False    221266
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
False    221266
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
False    221266
Name: VEHCOUNT, dtype: int64

INJURIES
False    221266
Name: INJURIES, dtype: int64

SERIOUSINJURIES
False    221266
Name: SERIOUSINJURIES, dtype: int64

FATALITIES
False    221266
Name: FATALITIES, dtype: int64

INCDATE
False    221266
Name: INCDATE, dtype: int64

INCDTTM
False    221266
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    209299
True      11967
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE
False    221265
True          1
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC
False    221265
True          1
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND
True     191078
False     30188
Name: INATTENTIONIND, dtype: int64

UNDERINFL
False    194787
True      26479
Name: UNDERINFL, dtype: int64

WEATHER
False    194578
True      26688
Name: WEATHER, dtype: int64

ROADCOND
False    194658
True      26608
Name: ROADCOND, dtype: int64

LIGHTCOND
False    194490
True      26776
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT
True     216078
False      5188
Name: PEDROWNOTGRNT, dtype: int64

SDOTCOLNUM
False    127205
True      94061
Name: SDOTCOLNUM, dtype: int64

SPEEDING
True     211353
False      9913
Name: SPEEDING, dtype: int64

ST_COLCODE
False    211853
True       9413
Name: ST_COLCODE, dtype: int64

ST_COLDESC
False    194767
True      26499
Name: ST_COLDESC, dtype: int64

SEGLANEKEY
False    221266
Name: SEGLANEKEY, dtype: int64

CROSSWALKKEY
False    221266
Name: CROSSWALKKEY, dtype: int64

HITPARKEDCAR
False    221266
Name: HITPARKEDCAR, dtype: int64

In [8]:
# Initialize a list to hold the names of all the columns that are missing data.
list_of_columns_with_missing_data = list()

# For each column in the collisions DataFrame,
# if the Series contains at least one NaN, 
# then add the column name to the list of column names that are missing data.
for column in df.columns.values.tolist():
    if df[column].hasnans:
        list_of_columns_with_missing_data.append(column)

print("Total number of columns: %d" % df.columns.size)
print()
print("Number of columns missing data: %d" % list_of_columns_with_missing_data.__len__())
print()
print("Names of columns missing data:")
print(list_of_columns_with_missing_data)

Total number of columns: 40

Number of columns missing data: 22

Names of columns missing data:
['X', 'Y', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'SEVERITYCODE', 'COLLISIONTYPE', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC']

In [15]:
# For each column with missing data,
# print the first several values of the column and
# descriptive statistics about the column.
starting_index = 1
for column in list_of_columns_with_missing_data[starting_index:starting_index+1]:
    print(column, ": ", df[column].dtype, sep='')
    #print(df[[column]].head())
    print(df[[column]].describe(include="all"))
    print()
    print("Value counts (True -> NaN):")
    print(missing_data[column].value_counts())
    print()
    print("Relative Frequencies (True -> NaN):")
    print(missing_data[column].value_counts(normalize="True"))
    print()

Y: float64
                   Y
count  213797.000000
mean   229826.198449
std     20460.326796
min    184059.089009
25%    214232.168527
50%    228336.502686
75%    245908.853680
max    271525.414794

Value counts (True -> NaN):
False    213797
True       7469
Name: Y, dtype: int64

Relative Frequencies (True -> NaN):
False    0.966244
True     0.033756
Name: Y, dtype: float64

<h3 id="deal_with_missing_data">Deal with Missing Data</h3>

<ol>
    <li>Drop the Data
        <ol>
            <li>Drop entire row.</li>
            <li>Drop entire column.</li>
        </ol>
    </li>
    <li>Replace the Data
        <ol>
            <li>Replace data by mean.</li>
            <li>Replace data by frequency.</li>
            <li>Replace data based on other functions.</li>
        </ol>
    </li>
        
</ol>

Whole columns should be dropped only if most entries in the column are empty.
If the feature to be predicted, "SEVERITYCODE", is missing from a row,
then that entire row must be dropped from the DataFrame.

DataFrame.dropna : Return DataFrame with labels on given axis omitted
where (all or any) data are missing.

 |  dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
 |      Remove missing values.
 |      
 |      See the :ref:`User Guide <missing_data>` for more on which values are
 |      considered missing, and how to work with missing data.
 |      
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          Determine if rows or columns which contain missing values are
 |          removed.
 |      
 |          * 0, or 'index' : Drop rows which contain missing values.
 |          * 1, or 'columns' : Drop columns which contain missing value.
 |      
 |          .. versionchanged:: 1.0.0
 |      
 |             Pass tuple or list to drop on multiple axes.
 |             Only a single axis is allowed.
 |      
 |      how : {'any', 'all'}, default 'any'
 |          Determine if row or column is removed from DataFrame, when we have
 |          at least one NA or all NA.
 |      
 |          * 'any' : If any NA values are present, drop that row or column.
 |          * 'all' : If all values are NA, drop that row or column.
 |      
 |      thresh : int, optional
 |          Require that many non-NA values.
 |      subset : array-like, optional
 |          Labels along other axis to consider, e.g. if you are dropping rows
 |          these would be a list of columns to include.
 |      inplace : bool, default False
 |          If True, do operation inplace and return None.
 |      
 |      Returns
 |      -------
 |      DataFrame
 |          DataFrame with NA entries dropped from it.
|      
 |      See Also
 |      --------
 |      DataFrame.isna: Indicate missing values.
 |      DataFrame.notna : Indicate existing (non-missing) values.
 |      DataFrame.fillna : Replace missing values.
 |      Series.dropna : Drop missing values.
 |      Index.dropna : Drop missing indices.
 |      
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
 |      ...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
 |      ...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
 |      ...                             pd.NaT]})
 |      >>> df
 |             name        toy       born
 |      0    Alfred        NaN        NaT
 |      1    Batman  Batmobile 1940-04-25
 |      2  Catwoman   Bullwhip        NaT
 |      
 |      Drop the rows where at least one element is missing.
 |      
 |      >>> df.dropna()
 |           name        toy       born
 |      1  Batman  Batmobile 1940-04-25
 |      
 |      Drop the columns where at least one element is missing.
 |      
 |      >>> df.dropna(axis='columns')
 |             name
 |      0    Alfred
 |      1    Batman
 |      2  Catwoman
 |      
 |      Drop the rows where all elements are missing.
 |      
 |      >>> df.dropna(how='all')
 |             name        toy       born
 |      0    Alfred        NaN        NaT
 |      1    Batman  Batmobile 1940-04-25
 |      2  Catwoman   Bullwhip        NaT
 |      
 |      Keep only the rows with at least 2 non-NA values.
 |      
 |      >>> df.dropna(thresh=2)
 |             name        toy       born
 |      1    Batman  Batmobile 1940-04-25
 |      2  Catwoman   Bullwhip        NaT
 |      
 |      Define in which columns to look for missing values.
 |      
 |      >>> df.dropna(subset=['name', 'born'])
 |             name        toy       born
 |      1    Batman  Batmobile 1940-04-25
 |      
 |      Keep the DataFrame with valid entries in the same variable.
 |      
 |      >>> df.dropna(inplace=True)
 |      >>> df
 |           name        toy       born
 |      1  Batman  Batmobile 1940-04-25
********************************************************************

In [10]:
df_after_dropna = df.dropna(axis="index", how="any", thresh=None, subset=None, inplace=False)

In [14]:
# Print a concise, technical summary of the collisions DataFrame.
df_after_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 40 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   X                0 non-null      float64
 1   Y                0 non-null      float64
 2   OBJECTID         0 non-null      int64
 3   INCKEY           0 non-null      int64
 4   COLDETKEY        0 non-null      int64
 5   REPORTNO         0 non-null      object
 6   STATUS           0 non-null      object
 7   ADDRTYPE         0 non-null      object
 8   INTKEY           0 non-null      float64
 9   LOCATION         0 non-null      object
 10  EXCEPTRSNCODE    0 non-null      object
 11  EXCEPTRSNDESC    0 non-null      object
 12  SEVERITYCODE     0 non-null      object
 13  SEVERITYDESC     0 non-null      object
 14  COLLISIONTYPE    0 non-null      object
 15  PERSONCOUNT      0 non-null      int64
 16  PEDCOUNT         0 non-null      int64
 17  PEDCYLCOUNT      0 non-null      int64
 18  VEHCOUNT         0 non-null      int64
 19  INJURIES         0 non-null      int64
 20  SERIOUSINJURIES  0 non-null      int64
 21  FATALITIES       0 non-null      int64
 22  INCDATE          0 non-null      object
 23  INCDTTM          0 non-null      object
 24  JUNCTIONTYPE     0 non-null      object
 25  SDOT_COLCODE     0 non-null      float64
 26  SDOT_COLDESC     0 non-null      object
 27  INATTENTIONIND   0 non-null      object
 28  UNDERINFL        0 non-null      object
 29  WEATHER          0 non-null      object
 30  ROADCOND         0 non-null      object
 31  LIGHTCOND        0 non-null      object
 32  PEDROWNOTGRNT    0 non-null      object
 33  SDOTCOLNUM       0 non-null      float64
 34  SPEEDING         0 non-null      object
 35  ST_COLCODE       0 non-null      object
 36  ST_COLDESC       0 non-null      object
 37  SEGLANEKEY       0 non-null      int64
 38  CROSSWALKKEY     0 non-null      int64
 39  HITPARKEDCAR     0 non-null      object
dtypes: float64(5), int64(12), object(23)
memory usage: 0.0+ bytes

In [13]:
# Verify that there are no NaN values in DataFrame df_after_dropna.
missing_data_after_dropna = df_after_dropna.isnull()
missing_data_after_dropna.head(5)

Empty DataFrame
Columns: [X, Y, OBJECTID, INCKEY, COLDETKEY, REPORTNO, STATUS, ADDRTYPE, INTKEY, LOCATION, EXCEPTRSNCODE, EXCEPTRSNDESC, SEVERITYCODE, SEVERITYDESC, COLLISIONTYPE, PERSONCOUNT, PEDCOUNT, PEDCYLCOUNT, VEHCOUNT, INJURIES, SERIOUSINJURIES, FATALITIES, INCDATE, INCDTTM, JUNCTIONTYPE, SDOT_COLCODE, SDOT_COLDESC, INATTENTIONIND, UNDERINFL, WEATHER, ROADCOND, LIGHTCOND, PEDROWNOTGRNT, SDOTCOLNUM, SPEEDING, ST_COLCODE, ST_COLDESC, SEGLANEKEY, CROSSWALKKEY, HITPARKEDCAR]
Index: []

"True" identifies a missing value, while "False" indicates that a value is not missing value.

<h4>Count the Missing Values in each Column</h4>
<p>
We use a for loop to count the number of missing ("True") values in each column of the collisions DataFrame.
</p>

In [12]:
# Count the number of missing ("True") values in each column.
for column in missing_data_after_dropna.columns.values.tolist():
    print(column)
    print(missing_data_after_dropna[column].value_counts())
    print()

X
Series([], Name: X, dtype: int64)

Y
Series([], Name: Y, dtype: int64)

OBJECTID
Series([], Name: OBJECTID, dtype: int64)

INCKEY
Series([], Name: INCKEY, dtype: int64)

COLDETKEY
Series([], Name: COLDETKEY, dtype: int64)

REPORTNO
Series([], Name: REPORTNO, dtype: int64)

STATUS
Series([], Name: STATUS, dtype: int64)

ADDRTYPE
Series([], Name: ADDRTYPE, dtype: int64)

INTKEY
Series([], Name: INTKEY, dtype: int64)

LOCATION
Series([], Name: LOCATION, dtype: int64)

EXCEPTRSNCODE
Series([], Name: EXCEPTRSNCODE, dtype: int64)

EXCEPTRSNDESC
Series([], Name: EXCEPTRSNDESC, dtype: int64)

SEVERITYCODE
Series([], Name: SEVERITYCODE, dtype: int64)

SEVERITYDESC
Series([], Name: SEVERITYDESC, dtype: int64)

COLLISIONTYPE
Series([], Name: COLLISIONTYPE, dtype: int64)

PERSONCOUNT
Series([], Name: PERSONCOUNT, dtype: int64)

PEDCOUNT
Series([], Name: PEDCOUNT, dtype: int64)

PEDCYLCOUNT
Series([], Name: PEDCYLCOUNT, dtype: int64)

VEHCOUNT
Series([], Name: VEHCOUNT, dtype: int64)

INJURIES
Series([], Name: INJURIES, dtype: int64)

SERIOUSINJURIES
Series([], Name: SERIOUSINJURIES, dtype: int64)

FATALITIES
Series([], Name: FATALITIES, dtype: int64)

INCDATE
Series([], Name: INCDATE, dtype: int64)

INCDTTM
Series([], Name: INCDTTM, dtype: int64)

JUNCTIONTYPE
Series([], Name: JUNCTIONTYPE, dtype: int64)

SDOT_COLCODE
Series([], Name: SDOT_COLCODE, dtype: int64)

SDOT_COLDESC
Series([], Name: SDOT_COLDESC, dtype: int64)

INATTENTIONIND
Series([], Name: INATTENTIONIND, dtype: int64)

UNDERINFL
Series([], Name: UNDERINFL, dtype: int64)

WEATHER
Series([], Name: WEATHER, dtype: int64)

ROADCOND
Series([], Name: ROADCOND, dtype: int64)

LIGHTCOND
Series([], Name: LIGHTCOND, dtype: int64)

PEDROWNOTGRNT
Series([], Name: PEDROWNOTGRNT, dtype: int64)

SDOTCOLNUM
Series([], Name: SDOTCOLNUM, dtype: int64)

SPEEDING
Series([], Name: SPEEDING, dtype: int64)

ST_COLCODE
Series([], Name: ST_COLCODE, dtype: int64)

ST_COLDESC
Series([], Name: ST_COLDESC, dtype: int64)

SEGLANEKEY
Series([], Name: SEGLANEKEY, dtype: int64)

CROSSWALKKEY
Series([], Name: CROSSWALKKEY, dtype: int64)

HITPARKEDCAR
Series([], Name: HITPARKEDCAR, dtype: int64)

# Store all the numeric type columns of the collisions DataFradescribe a new
# DataFrame, and stores all the object type columns in another new DataFrame.

df_numeric = df.select_dtypes(include="number")
df_object = df.select_dtypes(include="object")

print("Number of numeric type columns in collisions DataFrame:", df_numeric.columns.size)
df_numeric.head()

print("Number of object type columns in collisions DataFrame:", df_object.columns.size)
df_object.head()

# For each column in the numeric DataFrame, print a description of the column.
for column in list(df_numeric.columns)[0:1]:
    #print(column)
    print(df_numeric[[column]].describe(include="all"))
    print()
    print(column, "relative frequency:")
    print(df_numeric[column].value_counts(normalize=True, dropna=False))
    print()
    print(column, "value count:")
    print(df_numeric[column].value_counts(normalize=False, dropna=False))
    print()
    print()

# For each column in the object DataFrame, print a description of the column.
for column in list(df_object.columns)[0:1]:
    print(df_object[[column]].describe(include="all"))
    print()
    print(column, "relative frequency:")
    print(df_object[column].value_counts(normalize=True, dropna=False))
    print()
    print(column, "value count:")
    print(df_object[column].value_counts(normalize=False, dropna=False))
    print()
    print()

df_object[["SEVERITYCODE"]].describe(include='all')

df["SEVERITYCODE"].value_counts(dropna=False)

df["SEVERITYCODE"].value_counts(normalize=True, dropna=False)

df[df["SEVERITYCODE"].isnull() == True]

# Drop columns from the DataFrame that contain identifiers/keys with have no predictive value.
id_columns = ['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'SDOTCOLNUM', ]
df.drop(columns=id_columns, inplace=True)

# Compare two columns of DataFrame that have similar names.
pd.Series(df["SEVERITYCODE"] == df["SEVERITYCODE.1"]).value_counts()

# Columns SEVERITYCODE and SEVERITYCODE.1 are redundant,
# so drop column SEVERITYCODE.1 from the DataFrame.
df.drop(columns="SEVERITYCODE.1", inplace=True)

# Identify missing data in the DataFrame.
missing_data = df.isnull()

print("True corresponds to NaN in the Collisions DataFrame.")
print("False corresponds to actual data in the Collisions DataFrame.")

print()
# Count missing values in each column.
for column in missing_data.columns.values.tolist():
    print(column, ":", sep='')
    #print("Absolute frequencies of NaN (not normalized):")
    #print(missing_data[column].value_counts())
    print("Relative frequencies of NaN (normalized):")
    print (missing_data[column].value_counts(normalize=True))
    print()

# Deal with missing data.
# Print relative frequency of each unique value for each column of the DataFrame.
for column in df.columns.values.tolist():
    print(column, ":", sep='')
    print("Relative frequencies of values including NaN (normalized):")
    print(df[column].value_counts(normalize=True, dropna=False))
    print("Frequencies of values including NaN (not normalized):")
    print(df[column].value_counts(dropna=False))
    print()

# Correct data format.

# Clean up time series
#df["INCDTTM"].value_counts().head(60)#ascending=True)