### Predicting the Severity of Automobile Accidents in Seattle, Washington ###

In this first week, you will discover your
project objectives, find your dataset that you will use for this capstone project, and publish your
dataset on GitHub.

In the second week, you will build your machine
learning solution.

In the third week,
you will finalize your model and be ready
to submit your work.

To complete capstone,
you will be working on a case study which is to predict the severity
of an accident.
Now, wouldn't it be great if there were something in place that could warn you, 
given the weather and the road conditions,
about the possibility of you getting into a car accident and how severe it would be,
so that you would drive more carefully or even change your travel plans?
Let's use our shared data for Seattle, Washington as an example of how to deal with the accidents data.

In [46]:
# Import packages.
import os
import sys
import pandas as pd
import numpy as np
import itertools
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [15]:
# NOTE: >>> help(pd.options.display. <TAB>
# pd.options.display.chop_threshold      pd.options.display.float_format        pd.options.display.max_info_columns    pd.options.display.notebook_repr_html
# pd.options.display.colheader_justify   pd.options.display.html                pd.options.display.max_info_rows       pd.options.display.pprint_nest_depth
# pd.options.display.column_space        pd.options.display.large_repr          pd.options.display.max_rows            pd.options.display.precision
# pd.options.display.date_dayfirst       pd.options.display.latex               pd.options.display.max_seq_items       pd.options.display.show_dimensions
# pd.options.display.date_yearfirst      pd.options.display.max_categories      pd.options.display.memory_usage        pd.options.display.unicode
# pd.options.display.encoding            pd.options.display.max_columns         pd.options.display.min_rows            pd.options.display.width
# pd.options.display.expand_frame_repr   pd.options.display.max_colwidth        pd.options.display.multi_sparse        

# Create a list of display options.
list_of_display_options_fully_qualified_names = str(\
"pd.options.display.chop_threshold, pd.options.display.float_format, pd.options.display.max_info_columns, pd.options.display.notebook_repr_html, \
pd.options.display.colheader_justify, pd.options.display.html, pd.options.display.max_info_rows, pd.options.display.pprint_nest_depth, \
pd.options.display.column_space, pd.options.display.large_repr, pd.options.display.max_rows, pd.options.display.precision, \
pd.options.display.date_dayfirst, pd.options.display.latex, pd.options.display.max_seq_items, pd.options.display.show_dimensions, \
pd.options.display.date_yearfirst, pd.options.display.max_categories, pd.options.display.memory_usage, pd.options.display.unicode, \
pd.options.display.encoding, pd.options.display.max_columns, pd.options.display.min_rows, pd.options.display.width, \
pd.options.display.expand_frame_repr, pd.options.display.max_colwidth, pd.options.display.multi_sparse").split(sep=', ')

# Initialize an empty list to store all the short names for display options.
list_of_display_options_short_names = list()
# For each fully qualified option name,
# get the option's short name and add it to the list of short names.
for fully_qualified_option_name in list_of_display_options_fully_qualified_names:
    # Get short option name.
    short_option_name = fully_qualified_option_name.split(sep='.')[-1]
    
    # Add short option name to list of display option short names.
    list_of_display_options_short_names.append(short_option_name)

# Define dictionary of display option settings.
dict_of_display_option_settings_short_names=\
{"max_info_columns": 500,\
"max_info_rows": 1000,\
"max_columns": 500,\
"max_rows": 1000,\
"precision": 9,\
"max_seq_items": None,\
"show_dimensions": True,\
"max_categories": 1000000,\
"max_colwidth": 500,\
"float_format": lambda x: '%.9f' % x}

# Set pandas display options using dictionary of short names,
# and display the options/value pairs.
print("Setting display options...")
for key in list(dict_of_display_option_settings_short_names.keys()):
    # Set display option.
    pd.set_option(key, dict_of_display_option_settings_short_names[key])
    # Print display option name and value.
    print(key, ": ", pd.get_option(key), sep='')

Setting display options...
max_info_columns: 500
max_info_rows: 1000
max_columns: 500
max_rows: 1000
precision: 9
max_seq_items: None
show_dimensions: True
max_categories: 1000000
max_colwidth: 500
float_format: <function <lambda> at 0x7f541dfe9820>

print(os.listdir(".."))

In [3]:
# Attribute Information URL: https://www.seattle.gov/Documents/Departments/SDOT/GIS/Collisions_OD.pdf
# Read the Collisions Data CSV file and store it as a DataFrame.
# url="https://opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv" # HTTPError at 202009151050, using local copy of .csv instead.
local_path_to_csv = "../Collisions.csv"
df=pd.read_csv(local_path_to_csv, low_memory=False)

# View the first few rows of the collisions DataFrame.
df.head()

<h2 id="data_wrangling">Data Wrangling</h2>

Steps for working with missing data:
<ol>
    <li>Identify missing data.</li>
    <li>Deal with missing data.</li>
    <li>Correct data format.</li>
</ol>

<h3 id="identifying_missing_data">Identifying Missing Data</h3>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values.

# Test whether the collisions DataFrame has NaN values.
if df.isna().any(axis=None):
    print("DataFrame has NaN.")
else:
    print("DataFrame has no NaN.")

# Initialize a list to store the labels for the columns with missing data.
list_of_columns_with_missing_data = list()

# For each column in the collisions DataFrame,
# if the column contains at least one NaN, 
# then add the column's label to the list.
for column in list(df.columns):
    if df[column].hasnans:
        list_of_columns_with_missing_data.append(column)

# Print the number of columns
print("Number of columns: %d" % len(df.columns))
print("List of columns labels:")
print(list(df.columns))
print()
print("Number of columns missing data: %d" % len(list_of_columns_with_missing_data))
print("List of columns missing data:")
print(list_of_columns_with_missing_data)

<h3 id="deal_with_missing_data">Deal with Missing Data</h3>

<ol>
    <li>Drop the Data
        <ol>
            <li>Drop entire row.</li>
            <li>Drop entire column.</li>
        </ol>
    </li>
    <li>Replace the Data
        <ol>
            <li>Replace data by mean.</li>
            <li>Replace data by frequency.</li>
            <li>Replace data based on other functions.</li>
        </ol>
    </li>
        
</ol>

Whole columns should be dropped only if most entries in the column are empty.

### DELETE THIS CELL BEFORE PRODUCTION ###

# Print a list of all the column labels for the collisions DataFrame.
print(list(df.columns))

### DELETE THIS CELL BEFORE PRODUCTION ###

# NOTE: astype(self: ~FrameOrSeries, dtype, copy: bool = True, errors: str = 'raise') -> ~FrameOrSeries 
#    dtype : data type, or dict of column name -> data type
#        Use a numpy.dtype or Python type to cast entire pandas object to
#        the same type. Alternatively, use {col: dtype, ...}, where col is a
#        column label and dtype is a numpy.dtype or Python type to cast one
#        or more of the DataFrame's columns to column-specific types.

# For each column in collision DataFrame:
# (1) print statistical description and relative frequencies of the data;
# (2) cast column to categorical type and print a statistical description and 
#     the relative frequencies of the categorical data in the column.
for column in list(df.columns):
    print(column, ": original data type: ", df[column].dtype, sep='')
    print("Statistics as type category:")
    print(df[[column]].astype(dtype="category").describe(include="all"))
    print("Relative frequencies as type category:")
    print(df[column].astype(dtype="category").value_counts(normalize=True, dropna=False))
    print()
    print()

In [4]:
# Drop any column from the collisions DataFrame if it satisfies at least one of the following conditions:
# 1) more than 15% of the column's data is NaN;
# 2) the column only contains unique identification keys;
# 3) it is unclear how the column's data should be interpreted.

list_of_columns_to_drop = [\
                           "OBJECTID",\
                           "INCKEY",\
                           "COLDETKEY",\
                           "REPORTNO",\
                           "INTKEY",\
                           "EXCEPTRSNCODE",\
                           "EXCEPTRSNDESC",\
                           "INATTENTIONIND",\
                           "PEDROWNOTGRNT",\
                           "SDOTCOLNUM",\
                           "SPEEDING",\
                           "SEGLANEKEY",\
                           "CROSSWALKKEY"]

In [5]:
#NOTE: drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
# Drop the selected columns from the collisions DataFrame
# and store the result in a new DataFrame.
df_after_drop_columns = df.drop(columns=list_of_columns_to_drop, inplace=False)

# Print the first few rows of the DataFrame after dropping columns.
df_after_drop_columns.head()

# Test whether DataFrame has NaN after dropping columns.
if df_after_drop_columns.isna().any(axis=None):
    print("DataFrame has NaN.")
else:
    print("DataFrame has no NaN.")

# Print a concise, technical summary of the collisions DataFrame.
df_after_drop_columns.info(verbose=True, null_counts=True)

# For each column in DataFrame after dropping columns,
# print the relative frequencies of values and a description
# of the columns data.
for column in df_after_drop_columns.columns:
    print("Relative frequency:")
    print(df_after_drop_columns[column].value_counts(normalize=True, dropna=False))
    print()

In [6]:
# NOTE: dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)

# Drop any row that contains at least one NaN.
#print("Number of columns: %d" % len(list(df_after_drop_columns.columns)))
df_after_drop_columns_and_rows = df_after_drop_columns.dropna(axis="index", how="any", thresh=None, subset=None, inplace=False)

# Verify that DataFrame has no NaN after dropping columns and rows.
if df_after_drop_columns_and_rows.isna().any(axis=None):
    print("DataFrame has NaN.")
else:
    print("DataFrame has no NaN.")

# NOTE: info(self, verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None) -> None
df_after_drop_columns_and_rows.info(verbose=True, null_counts=True)

<h3 id="correct_data_format">Correct Data Format</h3>

Ensure that each data type is appropriate for the corresponding feature.
Convert integer data to categorical type if the "real-world" measurement is not
"naturally ordered" as on the number line.
If data represents date, time, or date/time information, then convert the data to the appropriate datetime representation.

In [7]:
# Create new DataFrame to store converted data types.
df_converted = pd.DataFrame()

for column in list(df_after_drop_columns_and_rows.columns):
     # Cast column "ST_COLCODE" to type category.
    if column in ["SDOT_COLCODE"]:
        df_converted["SDOT_COLCODE"] = df_after_drop_columns_and_rows["SDOT_COLCODE"].astype('category')
    # Cast columns "INCDATE" and "INCDTTM" to type datetime.
    elif column in ["INCDATE", "INCDTTM"]:
        df_converted[column] = pd.to_datetime(df_after_drop_columns_and_rows[column], infer_datetime_format=True)
    # Cast columns of type object to type category.
    elif (df_after_drop_columns_and_rows[column].dtype in [np.dtype('object')]):
        df_converted[column] = df_after_drop_columns_and_rows[column].astype('category')
    # Copy all other columns to new DataFrame without changing their types.
    else:
        df_converted[column] = df_after_drop_columns_and_rows[column]

df_converted.describe(include="all")

# Verify that DataFrame has no NaN .
if df_converted.isna().any(axis=None):
    print("DataFrame has NaN.")
else:
    print("DataFrame has no NaN.")

In [8]:
# Display info about new DataFrame after casting objects to category or date
df_converted.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185317 entries, 0 to 221388
Data columns (total 27 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                185317 non-null  float64
 1   Y                185317 non-null  float64
 2   STATUS           185317 non-null  category
 3   ADDRTYPE         185317 non-null  category
 4   LOCATION         185317 non-null  category
 5   SEVERITYCODE     185317 non-null  category
 6   SEVERITYDESC     185317 non-null  category
 7   COLLISIONTYPE    185317 non-null  category
 8   PERSONCOUNT      185317 non-null  int64
 9   PEDCOUNT         185317 non-null  int64
 10  PEDCYLCOUNT      185317 non-null  int64
 11  VEHCOUNT         185317 non-null  int64
 12  INJURIES         185317 non-null  int64
 13  SERIOUSINJURIES  185317 non-null  int64
 14  FATALITIES       185317 non-null  int64
 15  INCDATE          185317 non-null  datetime64[ns]
 16  INCDTTM          185317 non-null  datetime64[ns]
 17  JUNCTIONTYPE     185317 non-null  category
 18  SDOT_COLCODE     185317 non-null  category
 19  SDOT_COLDESC     185317 non-null  category
 20  UNDERINFL        185317 non-null  category
 21  WEATHER          185317 non-null  category
 22  ROADCOND         185317 non-null  category
 23  LIGHTCOND        185317 non-null  category
 24  ST_COLCODE       185317 non-null  category
 25  ST_COLDESC       185317 non-null  category
 26  HITPARKEDCAR     185317 non-null  category
dtypes: category(16), datetime64[ns](2), float64(2), int64(7)
memory usage: 20.8 MB

In [17]:
# Print the first several rows of columns INCDATE and INCDTTM.
df_converted[["INCDATE", "INCDTTM"]].head()

     INCDATE             INCDTTM
0 2020-01-22 2020-01-22 15:21:00
1 2020-01-07 2020-01-07 08:00:00
5 2020-06-11 2020-06-11 17:07:00
6 2020-02-03 2020-02-03 09:49:00
8 2020-01-30 2020-01-30 08:32:00

[5 rows x 2 columns]

In [18]:
# Look for correlations between variables of type int64 or float64.
df_converted.corr()

,X,Y,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES
X,1.000000000,-0.160521960,0.012071865,0.010809063,-0.003834269,-0.015810624,0.011208065,-0.006274326,-0.000091933
Y,-0.160521960,1.000000000,-0.013397357,0.012962509,0.027700106,0.018114148,0.010610046,-0.000691186,-0.004291236
PERSONCOUNT,0.012071865,-0.013397357,1.000000000,-0.023841139,-0.043475206,0.395787500,0.273671170,0.105816709,0.047709077
PEDCOUNT,0.010809063,0.012962509,-0.023841139,1.000000000,-0.021584911,-0.329870583,0.157640710,0.129484025,0.073938403
PEDCYLCOUNT,-0.003834269,0.027700106,-0.043475206,-0.021584911,1.000000000,-0.313565246,0.113270524,0.059977965,0.010630242
VEHCOUNT,-0.015810624,0.018114148,0.395787500,-0.329870583,-0.313565246,1.000000000,0.023013754,-0.046766713,-0.028869204
INJURIES,0.011208065,0.010610046,0.273671170,0.157640710,0.113270524,0.023013754,1.000000000,0.280833962,0.068237339
SERIOUSINJURIES,-0.006274326,-0.000691186,0.105816709,0.129484025,0.059977965,-0.046766713,0.280833962,1.000000000,0.177365053
FATALITIES,-0.000091933,-0.004291236,0.047709077,0.073938403,0.010630242,-0.028869204,0.068237339,0.177365053,1.000000000

In [31]:
df_converted.columns

Index(['X', 'Y', 'STATUS', 'ADDRTYPE', 'LOCATION', 'SEVERITYCODE',
       'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT',
       'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES', 'FATALITIES',
       'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'ST_COLCODE',
       'ST_COLDESC', 'HITPARKEDCAR'],
      dtype='object')

In [40]:
test_df = df_converted[["SEVERITYCODE", "WEATHER"]]#list(df_converted.columns)[0]]]

In [49]:
import seaborn as sns
df_converted.groupby(["ROADCOND"])[list(df_converted.columns)[6]].value_counts(normalize=True)

ROADCOND        SEVERITYDESC
Dry             Property Damage Only Collision   0.660888207
                Injury Collision                 0.319552283
                Serious Injury Collision         0.017479907
                Fatality Collision               0.002079603
Ice             Property Damage Only Collision   0.759932375
                Injury Collision                 0.224852071
                Serious Injury Collision         0.014370245
                Fatality Collision               0.000845309
Oil             Property Damage Only Collision   0.591836735
                Injury Collision                 0.408163265
Other           Property Damage Only Collision   0.647058824
                Injury Collision                 0.327731092
                Serious Injury Collision         0.025210084
Sand/Mud/Dirt   Property Damage Only Collision   0.656250000
                Injury Collision                 0.343750000
Snow/Slush      Property Damage Only Collision   0.823649337
                Injury Collision                 0.168195719
                Serious Injury Collision         0.008154944
Standing Water  Property Damage Only Collision   0.725490196
                Injury Collision                 0.254901961
                Serious Injury Collision         0.019607843
Unknown         Property Damage Only Collision   0.936462157
                Injury Collision                 0.060915924
                Serious Injury Collision         0.002534522
                Fatality Collision               0.000087397
Wet             Property Damage Only Collision   0.652688218
                Injury Collision                 0.329931247
                Serious Injury Collision         0.015885895
                Fatality Collision               0.001473289
                Unknown                          0.000021352
Name: SEVERITYDESC, Length: 30, dtype: float64