### Predicting the Severity of Automobile Accidents in Seattle, Washington ###

In this first week, you will discover your
project objectives, find your dataset that you will use for this capstone project, and publish your
dataset on GitHub.

In the second week, you will build your machine
learning solution.

In the third week,
you will finalize your model and be ready
to submit your work.

To complete capstone,
you will be working on a case study which is to predict the severity
of an accident.
Now, wouldn't it be great if there were something in place that could warn you, 
given the weather and the road conditions,
about the possibility of you getting into a car accident and how severe it would be,
so that you would drive more carefully or even change your travel plans?
Let's use our shared data for Seattle, Washington as an example of how to deal with the accidents data.

In [1]:
# Load the pandas package.
import pandas as pd

# Load the numpy package.
import numpy as np

In [2]:
# Read the Collisions Data CSV file and store it as a DataFrame.
#oldurl = "https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv"
# Attribute information URL: https://www.seattle.gov/Documents/Departments/SDOT/GIS/Collisions_OD.pdf
url = "http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv?outSR={%22latestWkid%22:2926,%22wkid%22:2926}"
df_collisions = pd.read_csv(url, low_memory=False)

In [3]:
# Print the first five rows of the DataFrame.
df_collisions.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1.280915e+06,197717.534463,1,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N
1,NaN,NaN,2,115700,115700,10097005,Unmatched,NaN,NaN,NaN,...,NaN,NaN,NaN,10097005.0,NaN,NaN,NaN,0,0,N
2,1.265803e+06,269008.050248,3,1358,1358,3568600,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 134TH ST AND N 136TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
3,1.274389e+06,229235.950879,4,70700,70700,2806057,Matched,Block,NaN,E DENNY WAY BETWEEN 11TH AVE AND 12TH AVE,...,Dry,Other,NaN,7065007.0,NaN,32,One parked--one moving,0,0,N
4,1.263093e+06,200192.534913,5,53600,53600,2127310,Matched,Block,NaN,DELRIDGE WAY SW BETWEEN SW MYRTLE ST AND SW OR...,...,Dry,Daylight,NaN,6137017.0,NaN,14,From same direction - both going straight - on...,0,0,N

In [4]:
# Print the data type of each column of the DataFrame.
df_collisions.dtypes

X                  float64
Y                  float64
OBJECTID             int64
INCKEY               int64
COLDETKEY            int64
REPORTNO            object
STATUS              object
ADDRTYPE            object
INTKEY             float64
LOCATION            object
EXCEPTRSNCODE       object
EXCEPTRSNDESC       object
SEVERITYCODE        object
SEVERITYDESC        object
COLLISIONTYPE       object
PERSONCOUNT          int64
PEDCOUNT             int64
PEDCYLCOUNT          int64
VEHCOUNT             int64
INJURIES             int64
SERIOUSINJURIES      int64
FATALITIES           int64
INCDATE             object
INCDTTM             object
JUNCTIONTYPE        object
SDOT_COLCODE       float64
SDOT_COLDESC        object
INATTENTIONIND      object
UNDERINFL           object
WEATHER             object
ROADCOND            object
LIGHTCOND           object
PEDROWNOTGRNT       object
SDOTCOLNUM         float64
SPEEDING            object
ST_COLCODE          object
ST_COLDESC          object
SEGLANEKEY           int64
CROSSWALKKEY         int64
HITPARKEDCAR        object
dtype: object

In [5]:
# Print the column labels for the DataFrame.
df_collisions.columns

Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [6]:
# Drop columns from the DataFrame that contain identifiers/keys with have no predictive value.
id_columns = ['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'SDOTCOLNUM', ]
df_collisions.drop(columns=id_columns, inplace=True)

In [7]:
# Compare two columns of DataFrame that have similar names.
# pd.Series(df_collisions["SEVERITYCODE"] == df_collisions["SEVERITYCODE.1"]).value_counts()

In [8]:
# Columns SEVERITYCODE and SEVERITYCODE.1 are redundant,
# so drop column SEVERITYCODE.1 from the DataFrame.
#df_collisions.drop(columns="SEVERITYCODE.1", inplace=True)

In [9]:
# Print a concise, technical summary of the DataFrame.
df_collisions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221144 entries, 0 to 221143
Data columns (total 34 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                213675 non-null  float64
 1   Y                213675 non-null  float64
 2   STATUS           221144 non-null  object
 3   ADDRTYPE         217432 non-null  object
 4   INTKEY           71774 non-null   float64
 5   LOCATION         216558 non-null  object
 6   EXCEPTRSNDESC    11771 non-null   object
 7   SEVERITYCODE     221143 non-null  object
 8   SEVERITYDESC     221144 non-null  object
 9   COLLISIONTYPE    194740 non-null  object
 10  PERSONCOUNT      221144 non-null  int64
 11  PEDCOUNT         221144 non-null  int64
 12  PEDCYLCOUNT      221144 non-null  int64
 13  VEHCOUNT         221144 non-null  int64
 14  INJURIES         221144 non-null  int64
 15  SERIOUSINJURIES  221144 non-null  int64
 16  FATALITIES       221144 non-null  int64
 17  INCDATE          221144 non-null  object
 18  INCDTTM          221144 non-null  object
 19  JUNCTIONTYPE     209182 non-null  object
 20  SDOT_COLCODE     221143 non-null  float64
 21  SDOT_COLDESC     221143 non-null  object
 22  INATTENTIONIND   30188 non-null   object
 23  UNDERINFL        194760 non-null  object
 24  WEATHER          194551 non-null  object
 25  ROADCOND         194631 non-null  object
 26  LIGHTCOND        194463 non-null  object
 27  PEDROWNOTGRNT    5188 non-null    object
 28  SPEEDING         9912 non-null    object
 29  ST_COLCODE       211731 non-null  object
 30  ST_COLDESC       194740 non-null  object
 31  SEGLANEKEY       221144 non-null  int64
 32  CROSSWALKKEY     221144 non-null  int64
 33  HITPARKEDCAR     221144 non-null  object
dtypes: float64(4), int64(9), object(21)
memory usage: 57.4+ MB

In [10]:
# Print the statistics for each numerical column of the DataFrame.
df_collisions.describe()

,X,Y,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,SDOT_COLCODE,SEGLANEKEY,CROSSWALKKEY
count,2.136750e+05,213675.000000,71774.000000,221144.000000,221144.000000,221144.000000,221144.000000,221144.000000,221144.000000,221144.000000,221143.000000,221144.000000,2.211440e+05
mean,1.271149e+06,229826.542246,37617.166258,2.226459,0.038115,0.027299,1.729271,0.373842,0.015158,0.001682,13.383670,261.585804,9.591375e+03
std,7.360490e+03,20457.746422,51918.292696,1.470580,0.201756,0.164363,0.830665,0.732113,0.157951,0.044574,7.303437,3249.740639,7.151363e+04
min,1.249026e+06,184059.089009,23807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,1.266679e+06,214250.604271,28653.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000e+00
50%,1.271142e+06,228336.502686,29973.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000e+00
75%,1.276030e+06,245908.853680,33983.750000,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,14.000000,0.000000,0.000000e+00
max,1.293052e+06,271525.414794,757580.000000,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000,87.000000,525241.000000,5.239700e+06

In [11]:
df_collisions[["SEVERITYCODE"]].describe()

       SEVERITYCODE
count        221143
unique            5
top               1
freq         137414

In [12]:
# Identify missing data in the DataFrame.
missing_data = df_collisions.isnull()

print("True corresponds to NaN in the Collisions DataFrame.")
print("False corresponds to actual data in the Collisions DataFrame.")

print()
# Count missing values in each column
for column in missing_data.columns.values.tolist():
    print(column, ":", sep='')
    #print("Absolute frequencies of NaN (not normalized):")
    #print(missing_data[column].value_counts())
    print("Relative frequencies of NaN (normalized):")
    print (missing_data[column].value_counts(normalize=True))
    print()

True corresponds to NaN in the Collisions DataFrame.
False corresponds to actual data in the Collisions DataFrame.

X:
Relative frequencies of NaN (normalized):
False    0.966226
True     0.033774
Name: X, dtype: float64

Y:
Relative frequencies of NaN (normalized):
False    0.966226
True     0.033774
Name: Y, dtype: float64

STATUS:
Relative frequencies of NaN (normalized):
False    1.0
Name: STATUS, dtype: float64

ADDRTYPE:
Relative frequencies of NaN (normalized):
False    0.983215
True     0.016785
Name: ADDRTYPE, dtype: float64

INTKEY:
Relative frequencies of NaN (normalized):
True     0.675442
False    0.324558
Name: INTKEY, dtype: float64

LOCATION:
Relative frequencies of NaN (normalized):
False    0.979262
True     0.020738
Name: LOCATION, dtype: float64

EXCEPTRSNDESC:
Relative frequencies of NaN (normalized):
True     0.946772
False    0.053228
Name: EXCEPTRSNDESC, dtype: float64

SEVERITYCODE:
Relative frequencies of NaN (normalized):
False    0.999995
True     0.000005
Name: SEVERITYCODE, dtype: float64

SEVERITYDESC:
Relative frequencies of NaN (normalized):
False    1.0
Name: SEVERITYDESC, dtype: float64

COLLISIONTYPE:
Relative frequencies of NaN (normalized):
False    0.880603
True     0.119397
Name: COLLISIONTYPE, dtype: float64

PERSONCOUNT:
Relative frequencies of NaN (normalized):
False    1.0
Name: PERSONCOUNT, dtype: float64

PEDCOUNT:
Relative frequencies of NaN (normalized):
False    1.0
Name: PEDCOUNT, dtype: float64

PEDCYLCOUNT:
Relative frequencies of NaN (normalized):
False    1.0
Name: PEDCYLCOUNT, dtype: float64

VEHCOUNT:
Relative frequencies of NaN (normalized):
False    1.0
Name: VEHCOUNT, dtype: float64

INJURIES:
Relative frequencies of NaN (normalized):
False    1.0
Name: INJURIES, dtype: float64

SERIOUSINJURIES:
Relative frequencies of NaN (normalized):
False    1.0
Name: SERIOUSINJURIES, dtype: float64

FATALITIES:
Relative frequencies of NaN (normalized):
False    1.0
Name: FATALITIES, dtype: float64

INCDATE:
Relative frequencies of NaN (normalized):
False    1.0
Name: INCDATE, dtype: float64

INCDTTM:
Relative frequencies of NaN (normalized):
False    1.0
Name: INCDTTM, dtype: float64

JUNCTIONTYPE:
Relative frequencies of NaN (normalized):
False    0.945909
True     0.054091
Name: JUNCTIONTYPE, dtype: float64

SDOT_COLCODE:
Relative frequencies of NaN (normalized):
False    0.999995
True     0.000005
Name: SDOT_COLCODE, dtype: float64

SDOT_COLDESC:
Relative frequencies of NaN (normalized):
False    0.999995
True     0.000005
Name: SDOT_COLDESC, dtype: float64

INATTENTIONIND:
Relative frequencies of NaN (normalized):
True     0.863492
False    0.136508
Name: INATTENTIONIND, dtype: float64

UNDERINFL:
Relative frequencies of NaN (normalized):
False    0.880693
True     0.119307
Name: UNDERINFL, dtype: float64

WEATHER:
Relative frequencies of NaN (normalized):
False    0.879748
True     0.120252
Name: WEATHER, dtype: float64

ROADCOND:
Relative frequencies of NaN (normalized):
False    0.88011
True     0.11989
Name: ROADCOND, dtype: float64

LIGHTCOND:
Relative frequencies of NaN (normalized):
False    0.87935
True     0.12065
Name: LIGHTCOND, dtype: float64

PEDROWNOTGRNT:
Relative frequencies of NaN (normalized):
True     0.97654
False    0.02346
Name: PEDROWNOTGRNT, dtype: float64

SPEEDING:
Relative frequencies of NaN (normalized):
True     0.955179
False    0.044821
Name: SPEEDING, dtype: float64

ST_COLCODE:
Relative frequencies of NaN (normalized):
False    0.957435
True     0.042565
Name: ST_COLCODE, dtype: float64

ST_COLDESC:
Relative frequencies of NaN (normalized):
False    0.880603
True     0.119397
Name: ST_COLDESC, dtype: float64

SEGLANEKEY:
Relative frequencies of NaN (normalized):
False    1.0
Name: SEGLANEKEY, dtype: float64

CROSSWALKKEY:
Relative frequencies of NaN (normalized):
False    1.0
Name: CROSSWALKKEY, dtype: float64

HITPARKEDCAR:
Relative frequencies of NaN (normalized):
False    1.0
Name: HITPARKEDCAR, dtype: float64

In [13]:
# Deal with missing data.
# Print relative frequency of each unique value for each column of the DataFrame.
for column in df_collisions.columns.values.tolist():
    print(column, ":", sep='')
    print("Relative frequencies of values including NaN (normalized):")
    print(df_collisions[column].value_counts(normalize=True, dropna=False))
    print("Frequencies of values including NaN (not normalized):")
    print(df_collisions[column].value_counts(dropna=False))
    print()

X:
Relative frequencies of values including NaN (normalized):
NaN             0.033774
1.271306e+06    0.001338
1.268354e+06    0.001275
1.271692e+06    0.001248
1.268385e+06    0.001221
                  ...
1.269542e+06    0.000005
1.280882e+06    0.000005
1.272477e+06    0.000005
1.272254e+06    0.000005
1.286702e+06    0.000005
Name: X, Length: 24962, dtype: float64
Frequencies of values including NaN (not normalized):
NaN             7469
1.271306e+06     296
1.268354e+06     282
1.271692e+06     276
1.268385e+06     270
                ...
1.269542e+06       1
1.280882e+06       1
1.272477e+06       1
1.272254e+06       1
1.286702e+06       1
Name: X, Length: 24962, dtype: int64

Y:
Relative frequencies of values including NaN (normalized):
NaN              0.033774
262090.949056    0.001338
265256.609668    0.001275
223960.667289    0.001248
268124.504263    0.001221
                   ...
267813.044358    0.000005
246991.314289    0.000005
241241.113259    0.000005
244839.423279    0.000005
192672.038009    0.000005
Name: Y, Length: 24960, dtype: float64
Frequencies of values including NaN (not normalized):
NaN              7469
262090.949056     296
265256.609668     282
223960.667289     276
268124.504263     270
                 ...
267813.044358       1
246991.314289       1
241241.113259       1
244839.423279       1
192672.038009       1
Name: Y, Length: 24960, dtype: int64

STATUS:
Relative frequencies of values including NaN (normalized):
Matched      0.880933
Unmatched    0.119067
Name: STATUS, dtype: float64
Frequencies of values including NaN (not normalized):
Matched      194813
Unmatched     26331
Name: STATUS, dtype: int64

ADDRTYPE:
Relative frequencies of values including NaN (normalized):
Block           0.654705
Intersection    0.324558
NaN             0.016785
Alley           0.003952
Name: ADDRTYPE, dtype: float64
Frequencies of values including NaN (not normalized):
Block           144784
Intersection     71774
NaN               3712
Alley              874
Name: ADDRTYPE, dtype: int64

INTKEY:
Relative frequencies of values including NaN (normalized):
NaN        0.675442
29973.0    0.001248
29933.0    0.000782
29913.0    0.000656
29549.0    0.000647
             ...
31896.0    0.000005
29354.0    0.000005
29355.0    0.000005
26480.0    0.000005
25522.0    0.000005
Name: INTKEY, Length: 7909, dtype: float64
Frequencies of values including NaN (not normalized):
NaN        149370
29973.0       276
29933.0       173
29913.0       145
29549.0       143
            ...
31896.0         1
29354.0         1
29355.0         1
26480.0         1
25522.0         1
Name: INTKEY, Length: 7909, dtype: int64

LOCATION:
Relative frequencies of values including NaN (normalized):
NaN                                                               0.020738
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N    0.001348
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N          0.001338
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB    0.001316
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                    0.001275
                                                                    ...
12TH AVE W BETWEEN W BLAINE ST AND W HOWE ST                      0.000005
27TH AVE W AND W HALLADAY ST                                      0.000005
SW ANDOVER ST BETWEEN 41ST AVE SW AND 42ND AVE SW                 0.000005
31ST AVE AND E SPRING ST                                          0.000005
19TH AVE E AND E INTERLAKEN BLVD                                  0.000005
Name: LOCATION, Length: 25188, dtype: float64
Frequencies of values including NaN (not normalized):
NaN                                                               4586
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N     298
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N           296
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB     291
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                     282
                                                                  ...
12TH AVE W BETWEEN W BLAINE ST AND W HOWE ST                         1
27TH AVE W AND W HALLADAY ST                                         1
SW ANDOVER ST BETWEEN 41ST AVE SW AND 42ND AVE SW                    1
31ST AVE AND E SPRING ST                                             1
19TH AVE E AND E INTERLAKEN BLVD                                     1
Name: LOCATION, Length: 25188, dtype: int64

EXCEPTRSNDESC:
Relative frequencies of values including NaN (normalized):
NaN                                                             0.946772
Not Enough Information, or Insufficient Location Information    0.053228
Name: EXCEPTRSNDESC, dtype: float64
Frequencies of values including NaN (not normalized):
NaN                                                             209373
Not Enough Information, or Insufficient Location Information     11771
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYCODE:
Relative frequencies of values including NaN (normalized):
1      0.621378
2      0.265280
0      0.097760
2b     0.014000
3      0.001578
NaN    0.000005
Name: SEVERITYCODE, dtype: float64
Frequencies of values including NaN (not normalized):
1      137414
2       58665
0       21619
2b       3096
3         349
NaN         1
Name: SEVERITYCODE, dtype: int64

SEVERITYDESC:
Relative frequencies of values including NaN (normalized):
Property Damage Only Collision    0.621378
Injury Collision                  0.265280
Unknown                           0.097764
Serious Injury Collision          0.014000
Fatality Collision                0.001578
Name: SEVERITYDESC, dtype: float64
Frequencies of values including NaN (not normalized):
Property Damage Only Collision    137414
Injury Collision                   58665
Unknown                            21620
Serious Injury Collision            3096
Fatality Collision                   349
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE:
Relative frequencies of values including NaN (normalized):
Parked Car    0.219093
Angles        0.160348
Rear Ended    0.156559
NaN           0.119397
Other         0.110896
Sideswipe     0.085252
Left Turn     0.063669
Pedestrian    0.034606
Cycles        0.026720
Right Turn    0.013597
Head On       0.009862
Name: COLLISIONTYPE, dtype: float64
Frequencies of values including NaN (not normalized):
Parked Car    48451
Angles        35460
Rear Ended    34622
NaN           26404
Other         24524
Sideswipe     18853
Left Turn     14080
Pedestrian     7653
Cycles         5909
Right Turn     3007
Head On        2181
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT:
Relative frequencies of values including NaN (normalized):
2     0.537532
3     0.164920
0     0.113085
4     0.067788
1     0.062859
5     0.030641
6     0.012598
7     0.005336
8     0.002474
9     0.001026
10    0.000601
11    0.000267
12    0.000158
13    0.000099
14    0.000099
15    0.000050
17    0.000050
16    0.000036
44    0.000027
20    0.000027
25    0.000027
18    0.000027
19    0.000027
22    0.000023
29    0.000018
26    0.000018
23    0.000014
32    0.000014
47    0.000014
27    0.000014
28    0.000014
37    0.000014
34    0.000014
21    0.000009
36    0.000009
31    0.000009
30    0.000009
24    0.000009
35    0.000005
81    0.000005
39    0.000005
41    0.000005
43    0.000005
48    0.000005
53    0.000005
54    0.000005
57    0.000005
93    0.000005
Name: PERSONCOUNT, dtype: float64
Frequencies of values including NaN (not normalized):
2     118872
3      36471
0      25008
4      14991
1      13901
5       6776
6       2786
7       1180
8        547
9        227
10       133
11        59
12        35
13        22
14        22
15        11
17        11
16         8
44         6
20         6
25         6
18         6
19         6
22         5
29         4
26         4
23         3
32         3
47         3
27         3
28         3
37         3
34         3
21         2
36         2
31         2
30         2
24         2
35         1
81         1
39         1
41         1
43         1
48         1
53         1
54         1
57         1
93         1
Name: PERSONCOUNT, dtype: int64

PEDCOUNT:
Relative frequencies of values including NaN (normalized):
0    0.963558
1    0.035022
2    0.001239
3    0.000127
4    0.000041
5    0.000009
6    0.000005
Name: PEDCOUNT, dtype: float64
Frequencies of values including NaN (not normalized):
0    213085
1      7745
2       274
3        28
4         9
5         2
6         1
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT:
Relative frequencies of values including NaN (normalized):
0    0.972932
1    0.026838
2    0.000231
Name: PEDCYLCOUNT, dtype: float64
Frequencies of values including NaN (not normalized):
0    215158
1      5935
2        51
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT:
Relative frequencies of values including NaN (normalized):
2     0.678463
1     0.125809
0     0.120410
3     0.060323
4     0.011364
5     0.002519
6     0.000692
7     0.000240
8     0.000081
9     0.000045
11    0.000027
10    0.000009
15    0.000005
14    0.000005
13    0.000005
12    0.000005
Name: VEHCOUNT, dtype: float64
Frequencies of values including NaN (not normalized):
2     150038
1      27822
0      26628
3      13340
4       2513
5        557
6        153
7         53
8         18
9         10
11         6
10         2
15         1
14         1
13         1
12         1
Name: VEHCOUNT, dtype: int64

INJURIES:
Relative frequencies of values including NaN (normalized):
0     0.720200
1     0.213481
2     0.048263
3     0.012336
4     0.003681
5     0.001234
6     0.000452
7     0.000181
8     0.000054
9     0.000045
10    0.000027
11    0.000023
13    0.000009
78    0.000005
15    0.000005
12    0.000005
Name: INJURIES, dtype: float64
Frequencies of values including NaN (not normalized):
0     159268
1      47210
2      10673
3       2728
4        814
5        273
6        100
7         40
8         12
9         10
10         6
11         5
13         2
78         1
15         1
12         1
Name: INJURIES, dtype: int64

SERIOUSINJURIES:
Relative frequencies of values including NaN (normalized):
0     0.986005
1     0.013236
2     0.000601
3     0.000104
4     0.000027
5     0.000023
41    0.000005
Name: SERIOUSINJURIES, dtype: float64
Frequencies of values including NaN (not normalized):
0     218049
1       2927
2        133
3         23
4          6
5          5
41         1
Name: SERIOUSINJURIES, dtype: int64

FATALITIES:
Relative frequencies of values including NaN (normalized):
0    0.998422
1    0.001506
2    0.000054
3    0.000009
5    0.000005
4    0.000005
Name: FATALITIES, dtype: float64
Frequencies of values including NaN (not normalized):

0    220795
1       333
2        12
3         2
5         1
4         1
Name: FATALITIES, dtype: int64

INCDATE:
Relative frequencies of values including NaN (normalized):
2006/11/02 00:00:00+00    0.000466
2004/10/08 00:00:00+00    0.000443
2008/10/03 00:00:00+00    0.000421
2005/05/18 00:00:00+00    0.000402
2004/12/10 00:00:00+00    0.000389
                            ...
2020/08/16 00:00:00+00    0.000014
2020/08/15 00:00:00+00    0.000009
2020/08/14 00:00:00+00    0.000009
2003/10/06 00:00:00+00    0.000005
2015/12/25 00:00:00+00    0.000005
Name: INCDATE, Length: 6076, dtype: float64
Frequencies of values including NaN (not normalized):
2006/11/02 00:00:00+00    103
2004/10/08 00:00:00+00     98
2008/10/03 00:00:00+00     93
2005/05/18 00:00:00+00     89
2004/12/10 00:00:00+00     86
                         ...
2020/08/16 00:00:00+00      3
2020/08/15 00:00:00+00      2
2020/08/14 00:00:00+00      2
2003/10/06 00:00:00+00      1
2015/12/25 00:00:00+00      1
Name: INCDATE, Length: 6076, dtype: int64

INCDTTM:
Relative frequencies of values including NaN (normalized):
11/2/2006                0.000466
10/8/2004                0.000443
10/3/2008                0.000416
11/5/2005                0.000384
1/2/2004                 0.000362
                           ...
2/2/2013 2:23:00 AM      0.000005
3/10/2016 5:47:00 PM     0.000005
6/28/2014 8:25:00 PM     0.000005
12/10/2008 3:22:00 PM    0.000005
3/11/2009 7:05:00 PM     0.000005
Name: INCDTTM, Length: 169095, dtype: float64
Frequencies of values including NaN (not normalized):
11/2/2006                103
10/8/2004                 98
10/3/2008                 92
11/5/2005                 85
1/2/2004                  80
                        ...
2/2/2013 2:23:00 AM        1
3/10/2016 5:47:00 PM       1
6/28/2014 8:25:00 PM       1
12/10/2008 3:22:00 PM      1
3/11/2009 7:05:00 PM       1
Name: INCDTTM, Length: 169095, dtype: int64

JUNCTIONTYPE:
Relative frequencies of values including NaN (normalized):
Mid-Block (not related to intersection)              0.459081
At Intersection (intersection related)               0.312321
Mid-Block (but intersection related)                 0.110299
NaN                                                  0.054091
Driveway Junction                                    0.051971
At Intersection (but not related to intersection)    0.011282
Ramp Junction                                        0.000859
Unknown                                              0.000095
Name: JUNCTIONTYPE, dtype: float64
Frequencies of values including NaN (not normalized):
Mid-Block (not related to intersection)              101523
At Intersection (intersection related)                69068
Mid-Block (but intersection related)                  24392
NaN                                                   11962
Driveway Junction                                     11493
At Intersection (but not related to intersection)      2495
Ramp Junction                                           190
Unknown                                                  21
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE:
Relative frequencies of values including NaN (normalized):
11.0    0.415562
14.0    0.267645
0.0     0.086568
16.0    0.049393
28.0    0.043329
24.0    0.034783
13.0    0.031097
26.0    0.022922
18.0    0.015488
15.0    0.008207
12.0    0.008035
51.0    0.006652
29.0    0.002528
21.0    0.000927
56.0    0.000900
27.0    0.000782
54.0    0.000692
23.0    0.000583
48.0    0.000538
31.0    0.000502
25.0    0.000497
34.0    0.000452
64.0    0.000443
69.0    0.000389
33.0    0.000258
55.0    0.000253
66.0    0.000140
22.0    0.000086
44.0    0.000072
32.0    0.000059
53.0    0.000041
61.0    0.000032
58.0    0.000027
35.0    0.000027
68.0    0.000027
36.0    0.000018
46.0    0.000018
52.0    0.000009
47.0    0.000009
NaN     0.000005
87.0    0.000005
Name: SDOT_COLCODE, dtype: float64
Frequencies of values including NaN (not normalized):
11.0    91899
14.0    59188
0.0     19144
16.0    10923
28.0     9582
24.0     7692
13.0     6877
26.0     5069
18.0     3425
15.0     1815
12.0     1777
51.0     1471
29.0      559
21.0      205
56.0      199
27.0      173
54.0      153
23.0      129
48.0      119
31.0      111
25.0      110
34.0      100
64.0       98
69.0       86
33.0       57
55.0       56
66.0       31
22.0       19
44.0       16
32.0       13
53.0        9
61.0        7
58.0        6
35.0        6
68.0        6
36.0        4
46.0        4
52.0        2
47.0        2
NaN         1
87.0        1
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC:
Relative frequencies of values including NaN (normalized):
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE                  0.415562
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END                            0.267645
NOT ENOUGH INFORMATION / NOT APPLICABLE                                 0.086568
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE                 0.049393
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                           0.043329
MOTOR VEHCILE STRUCK PEDESTRIAN                                         0.034783
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE AT ANGLE                  0.031097
MOTOR VEHICLE STRUCK OBJECT IN ROAD                                     0.022922
MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE                   0.015488
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE                0.008207
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE AT ANGLE                 0.008035
PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT ANGLE                    0.006652
MOTOR VEHICLE OVERTURNED IN ROAD                                        0.002528
MOTOR VEHICLE STRUCK PEDALCYCLIST, REAR END                             0.000927
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE                   0.000900
MOTOR VEHICLE RAN OFF ROAD - NO COLLISION                               0.000782
PEDALCYCLIST STRUCK MOTOR VEHICLE REAR END                              0.000692
MOTOR VEHICLE STRUCK PEDALCYCLIST, LEFT SIDE SIDESWIPE                  0.000583
DRIVERLESS VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                      0.000538
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT END AT ANGLE              0.000502
MOTOR VEHICLE STRUCK TRAIN                                              0.000497
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE REAR END                        0.000452
PEDALCYCLIST STRUCK PEDESTRIAN                                          0.000443
PEDALCYCLIST OVERTURNED IN ROAD                                         0.000389
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE              0.000258
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE                  0.000253
PEDALCYCLIST STRUCK OBJECT IN ROAD                                      0.000140
MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE                 0.000086
DRIVERLESS VEHICLE STRUCK PEDESTRIAN                                    0.000072
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE             0.000059
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                    0.000041
PEDALCYCLIST STRUCK PEDALCYCLIST REAR END                               0.000032
PEDALCYCLIST STRUCK PEDALCYCLIST FRONT END AT ANGLE                     0.000027
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE            0.000027
PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT                            0.000027
DRIVERLESS VEHICLE STRUCK OBJECT IN ROADWAY                             0.000018
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE             0.000018
DRIVERLESS VEHICLE RAN OFF ROAD - NO COLLISION                          0.000009
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE                   0.000009
MOTORIZED SCOOTER COLLISION: COLLISION INVOLVING A MOTORIZED SCOOTER    0.000005
NaN                                                                     0.000005
Name: SDOT_COLDESC, dtype: float64
Frequencies of values including NaN (not normalized):
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE                  91899
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END                            59188
NOT ENOUGH INFORMATION / NOT APPLICABLE                                 19144
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE                 10923
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                            9582
MOTOR VEHCILE STRUCK PEDESTRIAN                                          7692
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE AT ANGLE                   6877
MOTOR VEHICLE STRUCK OBJECT IN ROAD                                      5069
MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE                    3425
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE                 1815
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE AT ANGLE                  1777
PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT ANGLE                     1471
MOTOR VEHICLE OVERTURNED IN ROAD                                          559
MOTOR VEHICLE STRUCK PEDALCYCLIST, REAR END                               205
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE                     199
MOTOR VEHICLE RAN OFF ROAD - NO COLLISION                                 173
PEDALCYCLIST STRUCK MOTOR VEHICLE REAR END                                153
MOTOR VEHICLE STRUCK PEDALCYCLIST, LEFT SIDE SIDESWIPE                    129
DRIVERLESS VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                        119
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT END AT ANGLE                111
MOTOR VEHICLE STRUCK TRAIN                                                110
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE REAR END                          100
PEDALCYCLIST STRUCK PEDESTRIAN                                             98
PEDALCYCLIST OVERTURNED IN ROAD                                            86
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                 57
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE                     56
PEDALCYCLIST STRUCK OBJECT IN ROAD                                         31
MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE                    19
DRIVERLESS VEHICLE STRUCK PEDESTRIAN                                       16
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE                13
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                        9
PEDALCYCLIST STRUCK PEDALCYCLIST REAR END                                   7
PEDALCYCLIST STRUCK PEDALCYCLIST FRONT END AT ANGLE                         6
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE                6
PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT                                6
DRIVERLESS VEHICLE STRUCK OBJECT IN ROADWAY                                 4
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE                 4
DRIVERLESS VEHICLE RAN OFF ROAD - NO COLLISION                              2
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE                       2
MOTORIZED SCOOTER COLLISION: COLLISION INVOLVING A MOTORIZED SCOOTER        1
NaN                                                                         1
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND:
Relative frequencies of values including NaN (normalized):
NaN    0.863492
Y      0.136508
Name: INATTENTIONIND, dtype: float64
Frequencies of values including NaN (not normalized):

NaN    190956
Y       30188
Name: INATTENTIONIND, dtype: int64

UNDERINFL:
Relative frequencies of values including NaN (normalized):
N      0.467817
0      0.369334
NaN    0.119307
Y      0.024414
1      0.019128
Name: UNDERINFL, dtype: float64
Frequencies of values including NaN (not normalized):
N      103455
0       81676
NaN     26384
Y        5399
1        4230
Name: UNDERINFL, dtype: int64

WEATHER:
Relative frequencies of values including NaN (normalized):
Clear                       0.517048
Raining                     0.153832
Overcast                    0.128893
NaN                         0.120252
Unknown                     0.068421
Snowing                     0.004156
Other                       0.003848
Fog/Smog/Smoke              0.002609
Sleet/Hail/Freezing Rain    0.000525
Blowing Sand/Dirt           0.000253
Severe Crosswind            0.000118
Partly Cloudy               0.000041
Blowing Snow                0.000005
Name: WEATHER, dtype: float64
Frequencies of values including NaN (not normalized):
Clear                       114342
Raining                      34019
Overcast                     28504
NaN                          26593
Unknown                      15131
Snowing                        919
Other                          851
Fog/Smog/Smoke                 577
Sleet/Hail/Freezing Rain       116
Blowing Sand/Dirt               56
Severe Crosswind                26
Partly Cloudy                    9
Blowing Snow                     1
Name: WEATHER, dtype: int64

ROADCOND:
Relative frequencies of values including NaN (normalized):
Dry               0.579487
Wet               0.220268
NaN               0.119890
Unknown           0.068412
Ice               0.005567
Snow/Slush        0.004585
Other             0.000615
Standing Water    0.000538
Sand/Mud/Dirt     0.000348
Oil               0.000289
Name: ROADCOND, dtype: float64
Frequencies of values including NaN (not normalized):
Dry               128150
Wet                48711
NaN                26513
Unknown            15129
Ice                 1231
Snow/Slush          1014
Other                136
Standing Water       119
Sand/Mud/Dirt         77
Oil                   64
Name: ROADCOND, dtype: int64

LIGHTCOND:
Relative frequencies of values including NaN (normalized):
Daylight                    0.538785
Dark - Street Lights On     0.226314
NaN                         0.120650
Unknown                     0.061137
Dusk                        0.027466
Dawn                        0.011753
Dark - No Street Lights     0.007113
Dark - Street Lights Off    0.005589
Other                       0.001103
Dark - Unknown Lighting     0.000090
Name: LIGHTCOND, dtype: float64
Frequencies of values including NaN (not normalized):
Daylight                    119149
Dark - Street Lights On      50048
NaN                          26681
Unknown                      13520
Dusk                          6074
Dawn                          2599
Dark - No Street Lights       1573
Dark - Street Lights Off      1236
Other                          244
Dark - Unknown Lighting         20
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT:
Relative frequencies of values including NaN (normalized):
NaN    0.97654
Y      0.02346
Name: PEDROWNOTGRNT, dtype: float64
Frequencies of values including NaN (not normalized):
NaN    215956
Y        5188
Name: PEDROWNOTGRNT, dtype: int64

SPEEDING:
Relative frequencies of values including NaN (normalized):
NaN    0.955179
Y      0.044821
Name: SPEEDING, dtype: float64
Frequencies of values including NaN (not normalized):
NaN    211232
Y        9912
Name: SPEEDING, dtype: int64

ST_COLCODE:
Relative frequencies of values including NaN (normalized):
32    0.202755
10    0.160348
14    0.118285
      0.076832
50    0.063836
        ...
43    0.000014
87    0.000009
85    0.000005
60    0.000005
49    0.000005
Name: ST_COLCODE, Length: 64, dtype: float64
Frequencies of values including NaN (not normalized):
32    44838
10    35460
14    26158
      16991
50    14117
      ...
43        3
87        2
85        1
60        1
49        1
Name: ST_COLCODE, Length: 64, dtype: int64

ST_COLDESC:
Relative frequencies of values including NaN (normalized):
One parked--one moving                                                0.202755
Entering at angle                                                     0.160348
NaN                                                                   0.119397
From same direction - both going straight - one stopped - rear-end    0.118285
Fixed object                                                          0.063836
                                                                        ...
Railway Vehicle Strikes Pedalcyclist                                  0.000014
Vehicle Strikes All Other Non-Domestic Animal                         0.000009
Vehicle Hits State Road or Construction Machinery                     0.000005
Non-domestic animal (deer, bear, elk, etc)                            0.000005
Vehicle Strikes Deer                                                  0.000005
Name: ST_COLDESC, Length: 63, dtype: float64
Frequencies of values including NaN (not normalized):
One parked--one moving                                                44838
Entering at angle                                                     35460
NaN                                                                   26404
From same direction - both going straight - one stopped - rear-end    26158
Fixed object                                                          14117
                                                                      ...
Railway Vehicle Strikes Pedalcyclist                                      3
Vehicle Strikes All Other Non-Domestic Animal                             2
Vehicle Hits State Road or Construction Machinery                         1
Non-domestic animal (deer, bear, elk, etc)                                1
Vehicle Strikes Deer                                                      1
Name: ST_COLDESC, Length: 63, dtype: int64

SEGLANEKEY:
Relative frequencies of values including NaN (normalized):
0        0.986271
6532     0.000086
6078     0.000086
12162    0.000081
10336    0.000068
           ...
9803     0.000005
14281    0.000005
4178     0.000005
6355     0.000005
9402     0.000005
Name: SEGLANEKEY, Length: 2101, dtype: float64
Frequencies of values including NaN (not normalized):
0        218108
6532         19
6078         19
12162        18
10336        15
          ...
9803          1
14281         1
4178          1
6355          1
9402          1
Name: SEGLANEKEY, Length: 2101, dtype: int64

CROSSWALKKEY:
Relative frequencies of values including NaN (normalized):
0         0.980822
523609    0.000086
520838    0.000068
524265    0.000059
525567    0.000059
            ...
525111    0.000005
523080    0.000005
521033    0.000005
523208    0.000005
521927    0.000005
Name: CROSSWALKKEY, Length: 2343, dtype: float64
Frequencies of values including NaN (not normalized):
0         216903
523609        19
520838        15
524265        13
525567        13
           ...
525111         1
523080         1
521033         1
523208         1
521927         1
Name: CROSSWALKKEY, Length: 2343, dtype: int64

HITPARKEDCAR:
Relative frequencies of values including NaN (normalized):
N    0.945958
Y    0.054042
Name: HITPARKEDCAR, dtype: float64
Frequencies of values including NaN (not normalized):
N    209193
Y     11951
Name: HITPARKEDCAR, dtype: int64

In [14]:
# Correct data format.

In [15]:
# Clean up time series
df_collisions["INCDTTM"].value_counts().head(60)#ascending=True)

11/2/2006     103
10/8/2004      98
10/3/2008      92
11/5/2005      85
1/2/2004       80
8/6/2004       79
12/4/2004      77
6/1/2006       77
11/4/2006      76
11/1/2004      76
10/5/2004      75
12/9/2004      74
10/6/2006      72
11/4/2005      71
11/6/2006      71
1/5/2007       70
4/8/2006       70
1/6/2004       70
1/9/2006       69
5/5/2006       68
11/1/2008      68
12/7/2004      68
11/1/2005      67
11/3/2006      67
12/10/2004     66
3/8/2006       66
10/2/2007      63
7/8/2005       63
5/7/2004       63
5/6/2009       62
4/3/2006       62
10/6/2005      62
1/3/2006       62
11/6/2008      61
7/6/2004       61
11/6/2009      61
6/9/2005       61
12/8/2004      61
11/2/2004      60
2/5/2008       60
2/2/2006       60
3/2/2007       60
11/7/2006      60
11/3/2008      60
7/9/2004       60
11/8/2006      60
6/2/2006       60
6/1/2007       59
6/4/2009       59
12/1/2005      59
6/9/2007       59
9/1/2006       59
12/1/2006      58
12/6/2004      58
9/7/2005       57
11/5/2006      57
10/9/2004      57
7/6/2007       57
7/3/2007       57
10/4/2007      57
Name: INCDTTM, dtype: int64

In [21]:
# Ride the Duck fatal accident circa 24 September 2015 (09/24/2015)
df_collisions[df_collisions["SEVERITYCODE"] == '0']

,X,Y,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,...,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1.280915e+06,197717.534463,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,NaN,0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,N
1,NaN,NaN,Unmatched,NaN,NaN,NaN,"Not Enough Information, or Insufficient Locati...",0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,N
16,1.258814e+06,218426.090964,Unmatched,Block,NaN,HARBOR AVE SW BETWEEN CALIFORNIA WAY SW AND FA...,NaN,0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
21,1.269741e+06,242541.772268,Unmatched,Block,NaN,DENSMORE AVE N BETWEEN N 39TH ST AND N 40TH ST,NaN,0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
45,1.265668e+06,260898.821823,Unmatched,Intersection,36419.0,GREENWOOD AVE N AND HOLMAN RD N,NaN,0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221118,1.273285e+06,262033.643136,Unmatched,Block,NaN,NE NORTHGATE WAY BETWEEN 3RD AVE NE AND 5TH AV...,"Not Enough Information, or Insufficient Locati...",0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y
221119,1.268674e+06,246229.345456,Unmatched,Intersection,25532.0,STONE AVE N AND N 50TH ST,NaN,0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
221120,1.283829e+06,234843.889829,Unmatched,Block,NaN,E MADISON ST BETWEEN E BLAINE ST AND 41ST E AVE E,"Not Enough Information, or Insufficient Locati...",0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y
221122,1.256550e+06,208236.372553,Unmatched,Block,NaN,44TH AVE SW BETWEEN SW ALASKA ST AND SW EDMUND...,"Not Enough Information, or Insufficient Locati...",0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y
221138,1.280215e+06,226767.780700,Unmatched,Block,NaN,30TH AVE BETWEEN E SPRING ST AND E UNION ST,"Not Enough Information, or Insufficient Locati...",0,Unknown,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y