### Predicting the Severity of Automobile Accidents in Seattle, Washington ###

In this first week, you will discover your
project objectives, find your dataset that you will use for this capstone project, and publish your
dataset on GitHub.

In the second week, you will build your machine
learning solution.

In the third week,
you will finalize your model and be ready
to submit your work.

To complete capstone,
you will be working on a case study which is to predict the severity
of an accident.
Now, wouldn't it be great if there were something in place that could warn you, 
given the weather and the road conditions,
about the possibility of you getting into a car accident and how severe it would be,
so that you would drive more carefully or even change your travel plans?
Let's use our shared data for Seattle, Washington as an example of how to deal with the accidents data.

In [1]:
# Load the pandas package.
import pandas as pd

# Load the numpy package.
import numpy as np

In [2]:
# Read the Collisions Data CSV file and store it as a DataFrame.
url = "https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv"
df_collisions = pd.read_csv(url, low_memory=False)

In [3]:
# Print the first five rows of the DataFrame.
df_collisions.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
# Print the data type of each column of the DataFrame.
df_collisions.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [12]:
df_collisions.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE', 'INCDTTM',
       'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND',
       'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT',
       'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY',
       'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [41]:
# Drop columns from the DataFrame that contain identifiers/keys with have no predictive value.
id_columns = ['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'SDOTCOLNUM', ]
#df_collisions[''].value_counts().head(50)

In [5]:
# Compare two columns of DataFrame that have similar names.
pd.Series(df_collisions["SEVERITYCODE"] == df_collisions["SEVERITYCODE.1"]).value_counts()

True    194673
dtype: int64

In [6]:
# Because columns SEVERITYCODE and SEVERITYCODE.1 are identical, drop column SEVERITYCODE.1 from the DataFrame.
df_collisions.drop(columns="SEVERITYCODE.1", inplace=True)

In [7]:
# Print a concise, technical summary of the DataFrame.
df_collisions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 37 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYDESC    194673 non-null  object
 14  COLLISIONTYPE   189769 non-null  object
 15  PERSONCOUNT     194673 non-null  int64
 16  PEDCOUNT        194673 non-null  int64
 17  PEDCYLCOUNT     194673 non-null  int64
 18  VEHCOUNT        194673 non-null  int64
 19  INCDATE         194673 non-null  object
 20  INCDTTM         194673 non-null  object
 21  JUNCTIONTYPE    188344 non-null  object
 22  SDOT_COLCODE    194673 non-null  int64
 23  SDOT_COLDESC    194673 non-null  object
 24  INATTENTIONIND  29805 non-null   object
 25  UNDERINFL       189789 non-null  object
 26  WEATHER         189592 non-null  object
 27  ROADCOND        189661 non-null  object
 28  LIGHTCOND       189503 non-null  object
 29  PEDROWNOTGRNT   4667 non-null    object
 30  SDOTCOLNUM      114936 non-null  float64
 31  SPEEDING        9333 non-null    object
 32  ST_COLCODE      194655 non-null  object
 33  ST_COLDESC      189769 non-null  object
 34  SEGLANEKEY      194673 non-null  int64
 35  CROSSWALKKEY    194673 non-null  int64
 36  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(11), object(22)
memory usage: 55.0+ MB

In [8]:
# Print the statistics for each numerical column of the DataFrame.
df_collisions.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [9]:
# Identify missing data in the DataFrame.
missing_data = df_collisions.isnull()

print("True corresponds to NaN in the Collisions DataFrame.")
print()
# Count missing values in each column
for column in missing_data.columns.values.tolist():
    print(column, ":", sep='')
    print("Absolute frequencies of the unique values (not normalized):")
    print (missing_data[column].value_counts())
    print()
    print("Relative frequencies of the unique values (normalized)")
    print (missing_data[column].value_counts(normalize=True))
    print()

True corresponds to NaN in the Collisions DataFrame.

SEVERITYCODE:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: SEVERITYCODE, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: SEVERITYCODE, dtype: float64

X:
Absolute frequencies of the unique values (not normalized):
False    189339
True       5334
Name: X, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.9726
True     0.0274
Name: X, dtype: float64

Y:
Absolute frequencies of the unique values (not normalized):
False    189339
True       5334
Name: Y, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.9726
True     0.0274
Name: Y, dtype: float64

OBJECTID:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: OBJECTID, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: OBJECTID, dtype: float64

INCKEY:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: INCKEY, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: INCKEY, dtype: float64

COLDETKEY:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: COLDETKEY, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: COLDETKEY, dtype: float64

REPORTNO:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: REPORTNO, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: REPORTNO, dtype: float64

STATUS:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: STATUS, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: STATUS, dtype: float64

ADDRTYPE:
Absolute frequencies of the unique values (not normalized):
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.990106
True     0.009894
Name: ADDRTYPE, dtype: float64

INTKEY:
Absolute frequencies of the unique values (not normalized):
True     129603
False     65070
Name: INTKEY, dtype: int64

Relative frequencies of the unique values (normalized)
True     0.665747
False    0.334253
Name: INTKEY, dtype: float64

LOCATION:
Absolute frequencies of the unique values (not normalized):
False    191996
True       2677
Name: LOCATION, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.986249
True     0.013751
Name: LOCATION, dtype: float64

EXCEPTRSNCODE:
Absolute frequencies of the unique values (not normalized):
True     109862
False     84811
Name: EXCEPTRSNCODE, dtype: int64

Relative frequencies of the unique values (normalized)
True     0.564341
False    0.435659
Name: EXCEPTRSNCODE, dtype: float64

EXCEPTRSNDESC:
Absolute frequencies of the unique values (not normalized):
True     189035
False      5638
Name: EXCEPTRSNDESC, dtype: int64

Relative frequencies of the unique values (normalized)
True     0.971039
False    0.028961
Name: EXCEPTRSNDESC, dtype: float64

SEVERITYDESC:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: SEVERITYDESC, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: SEVERITYDESC, dtype: float64

COLLISIONTYPE:
Absolute frequencies of the unique values (not normalized):
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.974809
True     0.025191
Name: COLLISIONTYPE, dtype: float64

PERSONCOUNT:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: PERSONCOUNT, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: PERSONCOUNT, dtype: float64

PEDCOUNT:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: PEDCOUNT, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: PEDCOUNT, dtype: float64

PEDCYLCOUNT:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: PEDCYLCOUNT, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: PEDCYLCOUNT, dtype: float64

VEHCOUNT:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: VEHCOUNT, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: VEHCOUNT, dtype: float64

INCDATE:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: INCDATE, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: INCDATE, dtype: float64

INCDTTM:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: INCDTTM, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: INCDTTM, dtype: float64

JUNCTIONTYPE:
Absolute frequencies of the unique values (not normalized):
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.967489
True     0.032511
Name: JUNCTIONTYPE, dtype: float64

SDOT_COLCODE:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: SDOT_COLCODE, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: SDOT_COLCODE, dtype: float64

SDOT_COLDESC:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: SDOT_COLDESC, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: SDOT_COLDESC, dtype: float64

INATTENTIONIND:
Absolute frequencies of the unique values (not normalized):
True     164868
False     29805
Name: INATTENTIONIND, dtype: int64

Relative frequencies of the unique values (normalized)
True     0.846897
False    0.153103
Name: INATTENTIONIND, dtype: float64

UNDERINFL:
Absolute frequencies of the unique values (not normalized):
False    189789
True       4884
Name: UNDERINFL, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.974912
True     0.025088
Name: UNDERINFL, dtype: float64

WEATHER:
Absolute frequencies of the unique values (not normalized):
False    189592
True       5081
Name: WEATHER, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.9739
True     0.0261
Name: WEATHER, dtype: float64

ROADCOND:
Absolute frequencies of the unique values (not normalized):
False    189661
True       5012
Name: ROADCOND, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.974254
True     0.025746
Name: ROADCOND, dtype: float64

LIGHTCOND:
Absolute frequencies of the unique values (not normalized):
False    189503
True       5170
Name: LIGHTCOND, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.973443
True     0.026557
Name: LIGHTCOND, dtype: float64

PEDROWNOTGRNT:
Absolute frequencies of the unique values (not normalized):
True     190006
False      4667
Name: PEDROWNOTGRNT, dtype: int64

Relative frequencies of the unique values (normalized)
True     0.976026
False    0.023974
Name: PEDROWNOTGRNT, dtype: float64

SDOTCOLNUM:
Absolute frequencies of the unique values (not normalized):
False    114936
True      79737
Name: SDOTCOLNUM, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.590405
True     0.409595
Name: SDOTCOLNUM, dtype: float64

SPEEDING:
Absolute frequencies of the unique values (not normalized):
True     185340
False      9333
Name: SPEEDING, dtype: int64

Relative frequencies of the unique values (normalized)
True     0.952058
False    0.047942
Name: SPEEDING, dtype: float64

ST_COLCODE:
Absolute frequencies of the unique values (not normalized):
False    194655
True         18
Name: ST_COLCODE, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.999908
True     0.000092
Name: ST_COLCODE, dtype: float64

ST_COLDESC:
Absolute frequencies of the unique values (not normalized):
False    189769
True       4904
Name: ST_COLDESC, dtype: int64

Relative frequencies of the unique values (normalized)
False    0.974809
True     0.025191
Name: ST_COLDESC, dtype: float64

SEGLANEKEY:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: SEGLANEKEY, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: SEGLANEKEY, dtype: float64

CROSSWALKKEY:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: CROSSWALKKEY, dtype: int64

Relative frequencies of the unique values (normalized)
False    1.0
Name: CROSSWALKKEY, dtype: float64

HITPARKEDCAR:
Absolute frequencies of the unique values (not normalized):
False    194673
Name: HITPARKEDCAR, dtype: int64

Relative frequencies of the unique values (normalized)

False    1.0
Name: HITPARKEDCAR, dtype: float64

In [10]:
# Deal with missing data.

In [11]:
# Correct data format.