### Predicting the Severity of Automobile Accidents in Seattle, Washington ###

In this first week, you will discover your
project objectives, find your dataset that you will use for this capstone project, and publish your
dataset on GitHub.

In the second week, you will build your machine
learning solution.

In the third week,
you will finalize your model and be ready
to submit your work.

To complete capstone,
you will be working on a case study which is to predict the severity
of an accident.
Now, wouldn't it be great if there were something in place that could warn you, 
given the weather and the road conditions,
about the possibility of you getting into a car accident and how severe it would be,
so that you would drive more carefully or even change your travel plans?
Let's use our shared data for Seattle, Washington as an example of how to deal with the accidents data.

In [130]:
# Import packages.
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [136]:
# NOTE: >>> help(pd.options.display. <TAB>
# pd.options.display.chop_threshold      pd.options.display.float_format        pd.options.display.max_info_columns    pd.options.display.notebook_repr_html
# pd.options.display.colheader_justify   pd.options.display.html                pd.options.display.max_info_rows       pd.options.display.pprint_nest_depth
# pd.options.display.column_space        pd.options.display.large_repr          pd.options.display.max_rows            pd.options.display.precision
# pd.options.display.date_dayfirst       pd.options.display.latex               pd.options.display.max_seq_items       pd.options.display.show_dimensions
# pd.options.display.date_yearfirst      pd.options.display.max_categories      pd.options.display.memory_usage        pd.options.display.unicode
# pd.options.display.encoding            pd.options.display.max_columns         pd.options.display.min_rows            pd.options.display.width
# pd.options.display.expand_frame_repr   pd.options.display.max_colwidth        pd.options.display.multi_sparse        

# Create a list of display options.
list_of_display_options = str(\
"pd.options.display.chop_threshold, pd.options.display.float_format, pd.options.display.max_info_columns, pd.options.display.notebook_repr_html, \
pd.options.display.colheader_justify, pd.options.display.html, pd.options.display.max_info_rows, pd.options.display.pprint_nest_depth, \
pd.options.display.column_space, pd.options.display.large_repr, pd.options.display.max_rows, pd.options.display.precision, \
pd.options.display.date_dayfirst, pd.options.display.latex, pd.options.display.max_seq_items, pd.options.display.show_dimensions, \
pd.options.display.date_yearfirst, pd.options.display.max_categories, pd.options.display.memory_usage, pd.options.display.unicode, \
pd.options.display.encoding, pd.options.display.max_columns, pd.options.display.min_rows, pd.options.display.width, \
pd.options.display.expand_frame_repr, pd.options.display.max_colwidth, pd.options.display.multi_sparse").split(sep=', ')

# Print the number of display options in the list.
print("Number of display options:", list_of_display_options.__len__())
print()
print()

# For each display option,
# print the fully qualified option name, 
# the short option name, 
# and a description of the option.
for fully_qualified_option_name in list_of_display_options:
    # Print fully qualifed option name.
    print("Fully qualified option name:", fully_qualified_option_name)
    
    # Set short option name.
    short_option_name = fully_qualified_option_name.split(sep='.')[-1]
    
    # Print short option name.
    print("Short option name:", short_option_name)
    
    # Print a description of option.
    pd.describe_option(short_option_name)
    print()
    print()
    

    
# Set and print selected pandas display options.

# Display all columns.
#pd.set_option("display.max_columns", None) 
#print(pd.get_option("display.max_columns"))

# Display at most 100 rows.
#pd.set_option("display.max_rows", 100) 
#print(pd.get_option("display.max_rows"))

# Display maximum precision.
#pd.set_option("display.float_format", 100)
#print(pd.get_option("display.float_format"))

Number of display options: 27


Fully qualified option name: pd.options.display.chop_threshold
Short option name: chop_threshold
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]


Fully qualified option name: pd.options.display.float_format
Short option name: float_format
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]


Fully qualified option name: pd.options.display.max_info_columns
Short option name: max_info_columns
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]


Fully qualified option name: pd.options.display.notebook_repr_html
Short option name: notebook_repr_html
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]


Fully qualified option name: pd.options.display.colheader_justify
Short option name: colheader_justify
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]


Fully qualified option name: pd.options.display.html
Short option name: html
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]


Fully qualified option name: pd.options.display.max_info_rows
Short option name: max_info_rows
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]


Fully qualified option name: pd.options.display.pprint_nest_depth
Short option name: pprint_nest_depth
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]


Fully qualified option name: pd.options.display.column_space
Short option name: column_space
display.column_space No description available.
    [default: 12] [currently: 12]


Fully qualified option name: pd.options.display.large_repr
Short option name: large_repr
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]


Fully qualified option name: pd.options.display.max_rows
Short option name: max_rows
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 100]


Fully qualified option name: pd.options.display.precision
Short option name: precision
display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]


Fully qualified option name: pd.options.display.date_dayfirst
Short option name: date_dayfirst
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]


Fully qualified option name: pd.options.display.latex
Short option name: latex
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]


Fully qualified option name: pd.options.display.max_seq_items
Short option name: max_seq_items
display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]


Fully qualified option name: pd.options.display.show_dimensions
Short option name: show_dimensions
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]


Fully qualified option name: pd.options.display.date_yearfirst
Short option name: date_yearfirst
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]


Fully qualified option name: pd.options.display.max_categories
Short option name: max_categories
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]


Fully qualified option name: pd.options.display.memory_usage
Short option name: memory_usage
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]


Fully qualified option name: pd.options.display.unicode
Short option name: unicode
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]


Fully qualified option name: pd.options.display.encoding
Short option name: encoding
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]


Fully qualified option name: pd.options.display.max_columns
Short option name: max_columns
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: None]


Fully qualified option name: pd.options.display.min_rows
Short option name: min_rows
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]


Fully qualified option name: pd.options.display.width
Short option name: width
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]


Fully qualified option name: pd.options.display.expand_frame_repr
Short option name: expand_frame_repr
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]


Fully qualified option name: pd.options.display.max_colwidth
Short option name: max_colwidth
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]


Fully qualified option name: pd.options.display.multi_sparse
Short option name: multi_sparse
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]

In [95]:
# Attribute Information URL: https://www.seattle.gov/Documents/Departments/SDOT/GIS/Collisions_OD.pdf
# Read the Collisions Data CSV file and store it as a DataFrame.
url="http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv?outSR={%22latestWkid%22:2926,%22wkid%22:2926}"
df=pd.read_csv(url, low_memory=False)

In [4]:
# View the first few rows of the collisions DataFrame.
df.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1.273535e+06,225839.133531,1,328476,329976,EA08706,Matched,Block,NaN,BROADWAY BETWEEN E COLUMBIA ST AND BOYLSTON AVE,,NaN,1,Property Damage Only Collision,Sideswipe,2,0,0,2,0,0,0,2020/01/22 00:00:00+00,1/22/2020 3:21:00 PM,Mid-Block (not related to intersection),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Raining,Wet,Dark - Street Lights On,NaN,NaN,NaN,11,From same direction - both going straight - bo...,0,0,N
1,1.274202e+06,245094.094895,2,328142,329642,EA06882,Matched,Block,NaN,8TH AVE NE BETWEEN NE 45TH E ST AND NE 47TH ST,,NaN,1,Property Damage Only Collision,Parked Car,2,0,0,2,0,0,0,2020/01/07 00:00:00+00,1/7/2020 8:00:00 AM,Mid-Block (not related to intersection),15.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE...",NaN,N,Clear,Dry,Daylight,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
2,1.271831e+06,224042.636505,3,20700,20700,1181833,Unmatched,Block,NaN,JAMES ST BETWEEN 6TH AVE AND 7TH AVE,NaN,NaN,0,Unknown,NaN,0,0,0,0,0,0,0,2004/01/30 00:00:00+00,1/30/2004,Mid-Block (but intersection related),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,NaN,NaN,NaN,NaN,NaN,4030032.0,NaN,NaN,NaN,0,0,N
3,1.272569e+06,262054.386176,4,332126,333626,M16001640,Unmatched,Block,NaN,NE NORTHGATE WAY BETWEEN 1ST AVE NE AND NE NOR...,,NaN,0,Unknown,NaN,0,0,0,0,0,0,0,2016/01/23 00:00:00+00,1/23/2016,Mid-Block (not related to intersection),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
4,1.280249e+06,207323.482760,5,328238,329738,3857118,Unmatched,Block,NaN,M L KING JR ER WAY S BETWEEN S ANGELINE ST AND...,,NaN,0,Unknown,NaN,0,0,0,0,0,0,0,2020/01/26 00:00:00+00,1/26/2020,Mid-Block (not related to intersection),28.0,MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N

In [5]:
# Print a concise, technical summary of the collisions DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221389 entries, 0 to 221388
Data columns (total 40 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                213918 non-null  float64
 1   Y                213918 non-null  float64
 2   OBJECTID         221389 non-null  int64
 3   INCKEY           221389 non-null  int64
 4   COLDETKEY        221389 non-null  int64
 5   REPORTNO         221389 non-null  object
 6   STATUS           221389 non-null  object
 7   ADDRTYPE         217677 non-null  object
 8   INTKEY           71884 non-null   float64
 9   LOCATION         216801 non-null  object
 10  EXCEPTRSNCODE    100986 non-null  object
 11  EXCEPTRSNDESC    11779 non-null   object
 12  SEVERITYCODE     221388 non-null  object
 13  SEVERITYDESC     221389 non-null  object
 14  COLLISIONTYPE    195159 non-null  object
 15  PERSONCOUNT      221389 non-null  int64
 16  PEDCOUNT         221389 non-null  int64
 17  PEDCYLCOUNT      221389 non-null  int64
 18  VEHCOUNT         221389 non-null  int64
 19  INJURIES         221389 non-null  int64
 20  SERIOUSINJURIES  221389 non-null  int64
 21  FATALITIES       221389 non-null  int64
 22  INCDATE          221389 non-null  object
 23  INCDTTM          221389 non-null  object
 24  JUNCTIONTYPE     209417 non-null  object
 25  SDOT_COLCODE     221388 non-null  float64
 26  SDOT_COLDESC     221388 non-null  object
 27  INATTENTIONIND   30188 non-null   object
 28  UNDERINFL        195179 non-null  object
 29  WEATHER          194969 non-null  object
 30  ROADCOND         195050 non-null  object
 31  LIGHTCOND        194880 non-null  object
 32  PEDROWNOTGRNT    5192 non-null    object
 33  SDOTCOLNUM       127205 non-null  float64
 34  SPEEDING         9928 non-null    object
 35  ST_COLCODE       211976 non-null  object
 36  ST_COLDESC       195159 non-null  object
 37  SEGLANEKEY       221389 non-null  int64
 38  CROSSWALKKEY     221389 non-null  int64
 39  HITPARKEDCAR     221389 non-null  object
dtypes: float64(5), int64(12), object(23)
memory usage: 67.6+ MB

<h2 id="data_wrangling">Data Wrangling</h2>

Steps for working with missing data:
<ol>
    <li>Identify missing data.</li>
    <li>Deal with missing data.</li>
    <li>Correct data format.</li>
</ol>

<h3 id="identifying_missing_data">Identifying Missing Data</h3>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [6]:
missing_data = df.isnull()
missing_data.head(5)

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,False,True,True,True,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,False,True,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,False,True,False,False,False

"True" identifies a missing value, while "False" indicates that a value is not missing value.

<h4>Count the Missing Values in each Column</h4>
<p>
We use a for loop to count the number of missing ("True") values in each column of the collisions DataFrame.
</p>

In [7]:
# Print the number of missing ("True") values in each column of the collisions DataFrame
for column in list(missing_data.columns):
    print(column, "(True -> NaN)")
    print(missing_data[column].value_counts())
    print()

X (True -> NaN)
False    213918
True       7471
Name: X, dtype: int64

Y (True -> NaN)
False    213918
True       7471
Name: Y, dtype: int64

OBJECTID (True -> NaN)
False    221389
Name: OBJECTID, dtype: int64

INCKEY (True -> NaN)
False    221389
Name: INCKEY, dtype: int64

COLDETKEY (True -> NaN)
False    221389
Name: COLDETKEY, dtype: int64

REPORTNO (True -> NaN)
False    221389
Name: REPORTNO, dtype: int64

STATUS (True -> NaN)
False    221389
Name: STATUS, dtype: int64

ADDRTYPE (True -> NaN)
False    217677
True       3712
Name: ADDRTYPE, dtype: int64

INTKEY (True -> NaN)
True     149505
False     71884
Name: INTKEY, dtype: int64

LOCATION (True -> NaN)
False    216801
True       4588
Name: LOCATION, dtype: int64

EXCEPTRSNCODE (True -> NaN)
True     120403
False    100986
Name: EXCEPTRSNCODE, dtype: int64

EXCEPTRSNDESC (True -> NaN)
True     209610
False     11779
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYCODE (True -> NaN)
False    221388
True          1
Name: SEVERITYCODE, dtype: int64

SEVERITYDESC (True -> NaN)
False    221389
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE (True -> NaN)
False    195159
True      26230
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT (True -> NaN)
False    221389
Name: PERSONCOUNT, dtype: int64

PEDCOUNT (True -> NaN)
False    221389
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT (True -> NaN)
False    221389
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT (True -> NaN)
False    221389
Name: VEHCOUNT, dtype: int64

INJURIES (True -> NaN)
False    221389
Name: INJURIES, dtype: int64

SERIOUSINJURIES (True -> NaN)
False    221389
Name: SERIOUSINJURIES, dtype: int64

FATALITIES (True -> NaN)
False    221389
Name: FATALITIES, dtype: int64

INCDATE (True -> NaN)
False    221389
Name: INCDATE, dtype: int64

INCDTTM (True -> NaN)
False    221389
Name: INCDTTM, dtype: int64

JUNCTIONTYPE (True -> NaN)
False    209417
True      11972
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE (True -> NaN)
False    221388
True          1
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC (True -> NaN)
False    221388
True          1
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND (True -> NaN)
True     191201
False     30188
Name: INATTENTIONIND, dtype: int64

UNDERINFL (True -> NaN)
False    195179
True      26210
Name: UNDERINFL, dtype: int64

WEATHER (True -> NaN)
False    194969
True      26420
Name: WEATHER, dtype: int64

ROADCOND (True -> NaN)
False    195050
True      26339
Name: ROADCOND, dtype: int64

LIGHTCOND (True -> NaN)
False    194880
True      26509
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT (True -> NaN)
True     216197
False      5192
Name: PEDROWNOTGRNT, dtype: int64

SDOTCOLNUM (True -> NaN)
False    127205
True      94184
Name: SDOTCOLNUM, dtype: int64

SPEEDING (True -> NaN)
True     211461
False      9928
Name: SPEEDING, dtype: int64

ST_COLCODE (True -> NaN)
False    211976
True       9413
Name: ST_COLCODE, dtype: int64

ST_COLDESC (True -> NaN)
False    195159
True      26230
Name: ST_COLDESC, dtype: int64

SEGLANEKEY (True -> NaN)
False    221389
Name: SEGLANEKEY, dtype: int64

CROSSWALKKEY (True -> NaN)
False    221389
Name: CROSSWALKKEY, dtype: int64

HITPARKEDCAR (True -> NaN)
False    221389
Name: HITPARKEDCAR, dtype: int64

In [20]:
# Initialize a list to hold the names of all the columns that are missing data.
list_of_columns_with_missing_data = list()

# For each column in the collisions DataFrame,
# if the Series contains at least one NaN, 
# then add the column name to the list of column names that are missing data.
for column in df.columns.values.tolist():
    if df[column].hasnans:
        list_of_columns_with_missing_data.append(column)

print("Total number of columns: %d" % df.columns.size)
print()
print("Names of all columns:")
print(df.columns)
print()
print("Number of columns that are missing data: %d" % list_of_columns_with_missing_data.__len__())
print()
print("Names of columns missing data:")
print(list_of_columns_with_missing_data)

Total number of columns: 40

Names of all columns:
Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

Number of columns that are missing data: 22

Names of columns missing data:
['X', 'Y', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'SEVERITYCODE', 'COLLISIONTYPE', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC']

In [9]:
# Note: value_counts(self, normalize=False, sort=True, ascending=False, bins=None, dropna=True)
# For each column with missing data,
# print normalized value counts.
starting_index = 0
for column in list_of_columns_with_missing_data:#[starting_index:starting_index + 1]:
    print(column, ": ", df[column].dtype, sep='')
    print()
    print("Relative Frequencies:")
    print(df[column].value_counts(normalize=True, dropna=False))
    print()

X: float64
Relative Frequencies:
NaN             0.033746
1.271306e+06    0.001337
1.268354e+06    0.001274
1.271692e+06    0.001247
1.268385e+06    0.001220
                  ...
1.278324e+06    0.000005
1.269153e+06    0.000005
1.264317e+06    0.000005
1.282793e+06    0.000005
1.274790e+06    0.000005
Name: X, Length: 24973, dtype: float64

Y: float64
Relative Frequencies:
NaN              0.033746
262090.949056    0.001337
265256.609668    0.001274
223960.667289    0.001247
268124.504263    0.001220
                   ...
243483.470509    0.000005
250917.522037    0.000005
249624.025908    0.000005
261384.257600    0.000005
199572.449408    0.000005
Name: Y, Length: 24971, dtype: float64

ADDRTYPE: object
Relative Frequencies:
Block           0.654581
Intersection    0.324695
NaN             0.016767
Alley           0.003957
Name: ADDRTYPE, dtype: float64

INTKEY: float64
Relative Frequencies:
NaN        0.675305
29973.0    0.001247
29933.0    0.000781
29913.0    0.000655
29549.0    0.000646
             ...
31672.0    0.000005
37254.0    0.000005
31674.0    0.000005
35224.0    0.000005
27795.0    0.000005
Name: INTKEY, Length: 7915, dtype: float64

LOCATION: object
Relative Frequencies:
NaN                                                               0.020724
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N    0.001346
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N          0.001337
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB    0.001314
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                    0.001274
                                                                    ...
SR520 WB MONTLAKE BV OFF RP AND SR520 LK WA BLVD OFF RP           0.000005
FREMONT AVE N BETWEEN N 64TH ST AND N 65TH ST                     0.000005
51ST AVE SW AND SW ANDOVER ST                                     0.000005
SW SPOKANE ST BETWEEN 59TH AVE SW AND 60TH AVE SW                 0.000005
S LEO ST BETWEEN 56TH W AVE S AND 56TH E AVE S                    0.000005
Name: LOCATION, Length: 25199, dtype: float64

EXCEPTRSNCODE: object
Relative Frequencies:
NaN    0.543853
       0.402942
NEI    0.053205
Name: EXCEPTRSNCODE, dtype: float64

EXCEPTRSNDESC: object
Relative Frequencies:
NaN                                                             0.946795
Not Enough Information, or Insufficient Location Information    0.053205
Name: EXCEPTRSNDESC, dtype: float64

SEVERITYCODE: object
Relative Frequencies:
1      0.621512
2      0.265356
0      0.097539
2b     0.014012
3      0.001576
NaN    0.000005
Name: SEVERITYCODE, dtype: float64

COLLISIONTYPE: object
Relative Frequencies:
Parked Car    0.219257
Angles        0.160613
Rear Ended    0.156661
NaN           0.118479
Other         0.111053
Sideswipe     0.085311
Left Turn     0.063743
Pedestrian    0.034622
Cycles        0.026767
Right Turn    0.013619
Head On       0.009874
Name: COLLISIONTYPE, dtype: float64

JUNCTIONTYPE: object
Relative Frequencies:
Mid-Block (not related to intersection)              0.459065
At Intersection (intersection related)               0.312473
Mid-Block (but intersection related)                 0.110236
NaN                                                  0.054077
Driveway Junction                                    0.051927
At Intersection (but not related to intersection)    0.011270
Ramp Junction                                        0.000858
Unknown                                              0.000095
Name: JUNCTIONTYPE, dtype: float64

SDOT_COLCODE: float64
Relative Frequencies:
11.0    0.415662
14.0    0.267633
0.0     0.086526
16.0    0.049370
28.0    0.043326
24.0    0.034749
13.0    0.031099
26.0    0.022910
18.0    0.015502
15.0    0.008212
12.0    0.008045
51.0    0.006649
29.0    0.002525
21.0    0.000935
56.0    0.000899
27.0    0.000781
54.0    0.000691
23.0    0.000583
48.0    0.000538
31.0    0.000501
25.0    0.000497
34.0    0.000452
64.0    0.000443
69.0    0.000388
33.0    0.000257
55.0    0.000253
66.0    0.000140
22.0    0.000086
44.0    0.000072
32.0    0.000059
53.0    0.000041
61.0    0.000032
68.0    0.000027
35.0    0.000027
58.0    0.000027
36.0    0.000018
46.0    0.000018
52.0    0.000009
47.0    0.000009
87.0    0.000005
NaN     0.000005
Name: SDOT_COLCODE, dtype: float64

SDOT_COLDESC: object
Relative Frequencies:
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE                  0.415662
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END                            0.267633
NOT ENOUGH INFORMATION / NOT APPLICABLE                                 0.086526
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE                 0.049370
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                           0.043326
MOTOR VEHCILE STRUCK PEDESTRIAN                                         0.034749
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE AT ANGLE                  0.031099
MOTOR VEHICLE STRUCK OBJECT IN ROAD                                     0.022910
MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE                   0.015502
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE                0.008212
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE AT ANGLE                 0.008045
PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT ANGLE                    0.006649
MOTOR VEHICLE OVERTURNED IN ROAD                                        0.002525
MOTOR VEHICLE STRUCK PEDALCYCLIST, REAR END                             0.000935
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE                   0.000899
MOTOR VEHICLE RAN OFF ROAD - NO COLLISION                               0.000781
PEDALCYCLIST STRUCK MOTOR VEHICLE REAR END                              0.000691
MOTOR VEHICLE STRUCK PEDALCYCLIST, LEFT SIDE SIDESWIPE                  0.000583
DRIVERLESS VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                      0.000538
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT END AT ANGLE              0.000501
MOTOR VEHICLE STRUCK TRAIN                                              0.000497
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE REAR END                        0.000452
PEDALCYCLIST STRUCK PEDESTRIAN                                          0.000443
PEDALCYCLIST OVERTURNED IN ROAD                                         0.000388
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE              0.000257
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE                  0.000253
PEDALCYCLIST STRUCK OBJECT IN ROAD                                      0.000140
MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE                 0.000086
DRIVERLESS VEHICLE STRUCK PEDESTRIAN                                    0.000072
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE             0.000059
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                    0.000041
PEDALCYCLIST STRUCK PEDALCYCLIST REAR END                               0.000032
PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT                            0.000027
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE            0.000027
PEDALCYCLIST STRUCK PEDALCYCLIST FRONT END AT ANGLE                     0.000027
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE             0.000018
DRIVERLESS VEHICLE STRUCK OBJECT IN ROADWAY                             0.000018
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE                   0.000009
DRIVERLESS VEHICLE RAN OFF ROAD - NO COLLISION                          0.000009
MOTORIZED SCOOTER COLLISION: COLLISION INVOLVING A MOTORIZED SCOOTER    0.000005
NaN                                                                     0.000005
Name: SDOT_COLDESC, dtype: float64

INATTENTIONIND: object
Relative Frequencies:
NaN    0.863643
Y      0.136357
Name: INATTENTIONIND, dtype: float64

UNDERINFL: object
Relative Frequencies:
N      0.469192
0      0.368925
NaN    0.118389
Y      0.024387
1      0.019107
Name: UNDERINFL, dtype: float64

WEATHER: object
Relative Frequencies:
Clear                       0.518065
Raining                     0.153738
Overcast                    0.128927
NaN                         0.119337
Unknown                     0.068346
Snowing                     0.004151
Other                       0.003885
Fog/Smog/Smoke              0.002606
Sleet/Hail/Freezing Rain    0.000524
Blowing Sand/Dirt           0.000253
Severe Crosswind            0.000117
Partly Cloudy               0.000045
Blowing Snow                0.000005
Name: WEATHER, dtype: float64

ROADCOND: object
Relative Frequencies:
Dry               0.580584
Wet               0.220128
NaN               0.118972
Unknown           0.068382
Ice               0.005565
Snow/Slush        0.004580
Other             0.000614
Standing Water    0.000538
Sand/Mud/Dirt     0.000348
Oil               0.000289
Name: ROADCOND, dtype: float64

LIGHTCOND: object
Relative Frequencies:
Daylight                    0.539539
Dark - Street Lights On     0.226411
NaN                         0.119739
Unknown                     0.061123
Dusk                        0.027472
Dawn                        0.011780
Dark - No Street Lights     0.007132
Dark - Street Lights Off    0.005596
Other                       0.001102
Dark - Unknown Lighting     0.000104
Name: LIGHTCOND, dtype: float64

PEDROWNOTGRNT: object
Relative Frequencies:
NaN    0.976548
Y      0.023452
Name: PEDROWNOTGRNT, dtype: float64

SDOTCOLNUM: float64
Relative Frequencies:
NaN           0.425423
4318022.0     0.000009
4038007.0     0.000009
4342051.0     0.000009
4354014.0     0.000009
                ...
10282046.0    0.000005
12063010.0    0.000005
10059023.0    0.000005
10121010.0    0.000005
5250055.0     0.000005
Name: SDOTCOLNUM, Length: 127187, dtype: float64

SPEEDING: object
Relative Frequencies:
NaN    0.955156
Y      0.044844
Name: SPEEDING, dtype: float64

ST_COLCODE: object
Relative Frequencies:
32     0.202910
10     0.160613
14     0.118353
       0.075961
50     0.063978
11     0.058553
28     0.048268
NaN    0.042518
13     0.035146
45     0.022955
23     0.020882
0      0.016121
15     0.014170
16     0.013619
20     0.013081
12     0.011139
2      0.010877
22     0.010353
21     0.007435
30     0.006188
1      0.005831
71     0.005393
26     0.004874
52     0.004151
81     0.003799
19     0.003266
24     0.003067
5      0.002177
51     0.001748
74     0.001581
6      0.001400
29     0.001305
3      0.001165
27     0.001066
73     0.000763
4      0.000628
25     0.000619
57     0.000492
40     0.000479
84     0.000425
83     0.000393
72     0.000330
41     0.000266
64     0.000226
31     0.000212
82     0.000158
56     0.000158
53     0.000154
48     0.000149
8      0.000122
7      0.000113
42     0.000054
65     0.000050
66     0.000050
17     0.000041
67     0.000041
88     0.000036
54     0.000032
18     0.000032
43     0.000014
87     0.000009
85     0.000005
60     0.000005
49     0.000005
Name: ST_COLCODE, dtype: float64

ST_COLDESC: object
Relative Frequencies:
One parked--one moving                                                                   0.202910
Entering at angle                                                                        0.160613
NaN                                                                                      0.118479
From same direction - both going straight - one stopped - rear-end                       0.118353
Fixed object                                                                             0.063978
From same direction - both going straight - both moving - sideswipe                      0.058553
From opposite direction - one left turn - one straight                                   0.048268
From same direction - both going straight - both moving - rear-end                       0.035146
Vehicle - Pedalcyclist                                                                   0.022955
From same direction - all others                                                         0.020882
Vehicle going straight hits pedestrian                                                   0.016121
From same direction - one left turn - one straight                                       0.014170
From same direction - one right turn - one straight                                      0.013619
One car leaving parked position                                                          0.013081
From same direction - both going straight - one stopped - sideswipe                      0.011139
Vehicle turning left hits pedestrian                                                     0.010877
One car leaving driveway access                                                          0.010353
One car entering driveway access                                                         0.007435
From opposite direction - all others                                                     0.006188
Vehicle turning right hits pedestrian                                                    0.005831
Same direction -- both turning right -- both moving -- sideswipe                         0.005393
From opposite direction - both going straight - sideswipe                                0.004874
Vehicle overturned                                                                       0.004151
Same direction -- both turning left -- both moving -- sideswipe                          0.003799
One car entering parked position                                                         0.003266
From opposite direction - both moving - head-on                                          0.003067
Vehicle Strikes Pedalcyclist                                                             0.002177
Other object                                                                             0.001748
Same direction -- both turning right -- one stopped -- rear end                          0.001581
Pedalcyclist Strikes Moving Vehicle                                                      0.001400
From opposite direction - one left turn - one right turn                                 0.001305
Vehicle backing hits pedestrian                                                          0.001165
From opposite direction - both going straight - one stopped - sideswipe                  0.001066
Same direction -- both turning right -- both moving -- rear end                          0.000763
Vehicle hits Pedestrian - All Other Actions                                              0.000628
From opposite direction - one stopped - head-on                                          0.000619
All other non-collision                                                                  0.000492
Railway Vehicle Strikes Vehicle                                                          0.000479
Same direction -- both turning left -- one stopped -- rear end                           0.000425
Same direction -- both turning left -- both moving -- rear end                           0.000393
Same direction -- both turning right -- one stopped -- sideswipe                         0.000330
Vehicle Strikes Railway Vehicle                                                          0.000266
Vehicle Hits City Road or Construction Machinery                                         0.000226
Not stated                                                                               0.000212
Same direction -- both turning left -- one stopped -- sideswipe                          0.000158
Breakage of any part of the vehicle resulting in injury or in further property damage    0.000158
Person fell, jumped or was pushed from vehicle                                           0.000154
Domestic animal other (cat, dog, etc)                                                    0.000149
Pedalcyclist All Other Involvements ONE UNIT - PEDALCYCLIST ONLY or PEDALCYCLIST STR     0.000122
Pedalcyclist Strikes Pedalcyclist or Pedestrian                                          0.000113
Railway Vehicle Strikes Pedestrian                                                       0.000054
Vehicle Hits Other Road or Construction Machinery                                        0.000050
Vehicle Struck by City Road or Construction Machinery                                    0.000050
Vehicle Struck by Other Road or Construction Machinery                                   0.000041
Strikes or Was Struck by Object from the Load of Another Vehicle                         0.000041
All Other Multi Vehicle                                                                  0.000036
Strikes or Was Struck by a Part of Another Vehicle (Not from Load)                       0.000032
Fire started in vehicle                                                                  0.000032
Railway Vehicle Strikes Pedalcyclist                                                     0.000014
Vehicle Strikes All Other Non-Domestic Animal                                            0.000009
Vehicle Hits State Road or Construction Machinery                                        0.000005
Non-domestic animal (deer, bear, elk, etc)                                               0.000005
Vehicle Strikes Deer                                                                     0.000005
Name: ST_COLDESC, dtype: float64

<h3 id="deal_with_missing_data">Deal with Missing Data</h3>

<ol>
    <li>Drop the Data
        <ol>
            <li>Drop entire row.</li>
            <li>Drop entire column.</li>
        </ol>
    </li>
    <li>Replace the Data
        <ol>
            <li>Replace data by mean.</li>
            <li>Replace data by frequency.</li>
            <li>Replace data based on other functions.</li>
        </ol>
    </li>
        
</ol>

Whole columns should be dropped only if most entries in the column are empty.
If the feature to be predicted, "SEVERITYCODE", is missing from a row,
then that entire row must be dropped from the DataFrame.

In [21]:
# Print all the column labels for the collisions DataFrame.
df.columns

Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [75]:
# NOTE: astype(self: ~FrameOrSeries, dtype, copy: bool = True, errors: str = 'raise') -> ~FrameOrSeries 
#    dtype : data type, or dict of column name -> data type
#        Use a numpy.dtype or Python type to cast entire pandas object to
#        the same type. Alternatively, use {col: dtype, ...}, where col is a
#        column label and dtype is a numpy.dtype or Python type to cast one
#        or more of the DataFrame's columns to column-specific types.

# Print a description of the selected column and the first few values of the column
# from the collisions DatatFrame,
# where the dtype is presented first in its original form from the collisions DataFrame,
# then again after being cast to categorical type.
column = list(df.columns.values)[0]
#print(column, " dtype: ", df[column].dtype, sep='')
print(df[[column]].info())
print(df[[column]].describe(include="all"))
print(df[[column]].head())
print()
print()
print(column,"AFTER CONVERSION TO CATEGORICAL TYPE:")
print()
print(df[[column]].astype(dtype="category").info())
print(df[[column]].astype(dtype="category").describe(include="all"))
print(df[[column]].astype(dtype="category").head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221389 entries, 0 to 221388
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   X       213918 non-null  float64
dtypes: float64(1)
memory usage: 1.7 MB
None
                  X
count  2.139180e+05
mean   1.271147e+06
std    7.361743e+03
min    1.249026e+06
25%    1.266676e+06
50%    1.271142e+06
75%    1.276029e+06
max    1.293052e+06
              X
0  1.273535e+06
1  1.274202e+06
2  1.271831e+06
3  1.272569e+06
4  1.280249e+06


X AFTER CONVERSION TO CATEGORICAL TYPE:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221389 entries, 0 to 221388
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   X       213918 non-null  category
dtypes: category(1)
memory usage: 1.2 MB
None
                   X
count   2.139180e+05
unique  2.497200e+04
top     1.271306e+06
freq    2.960000e+02
              X
0  1.273535e+06
1  1.274202e+06
2  1.271831e+06
3  1.272569e+06
4  1.280249e+06

In [19]:
# Drop any column from the collisions DataFrame if it satisfies at least
# one of the following conditions:

# 1) the column contains only identification keys or codes with no predictive value;
# 2) the column's data is does not fit into a small (<) categories, such as an address or location description; or
# 3) a significant proportion (>15%) of the data is NaN; or
# 4) it is not clear how to interperet the data.
list_of_columns_to_drop = ["X", "Y", "OBJECTID", "INCKEY", "COLDETKEY", "INTKEY", "LOCATION" ,"EXCEPTRSNCODE", "EXCEPTRSNDESC", "INATTENTIONIND", "PEDROWNOTGRNT", "SDOTCOLNUM", "SPEEDING"]

In [11]:
#NOTE: drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
# Drop the selected columns from the collisions DataFrame
# and store the result in a new DataFrame.
df_after_drop_columns = df.drop(columns=list_of_columns_to_drop, inplace=False)

In [12]:
# Print the first few rows of the DataFrame after dropping columns.
df_after_drop_columns.head()

,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1,328476,329976,EA08706,Matched,Block,1,Property Damage Only Collision,Sideswipe,2,0,0,2,0,0,0,2020/01/22 00:00:00+00,1/22/2020 3:21:00 PM,Mid-Block (not related to intersection),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Raining,Wet,Dark - Street Lights On,11,From same direction - both going straight - bo...,0,0,N
1,2,328142,329642,EA06882,Matched,Block,1,Property Damage Only Collision,Parked Car,2,0,0,2,0,0,0,2020/01/07 00:00:00+00,1/7/2020 8:00:00 AM,Mid-Block (not related to intersection),15.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE...",N,Clear,Dry,Daylight,32,One parked--one moving,0,0,Y
2,3,20700,20700,1181833,Unmatched,Block,0,Unknown,NaN,0,0,0,0,0,0,0,2004/01/30 00:00:00+00,1/30/2004,Mid-Block (but intersection related),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,NaN,NaN,NaN,NaN,NaN,0,0,N
3,4,332126,333626,M16001640,Unmatched,Block,0,Unknown,NaN,0,0,0,0,0,0,0,2016/01/23 00:00:00+00,1/23/2016,Mid-Block (not related to intersection),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,NaN,NaN,NaN,,NaN,0,0,N
4,5,328238,329738,3857118,Unmatched,Block,0,Unknown,NaN,0,0,0,0,0,0,0,2020/01/26 00:00:00+00,1/26/2020,Mid-Block (not related to intersection),28.0,MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT,NaN,NaN,NaN,NaN,,NaN,0,0,N

In [13]:
# Print a concise, technical summary of the collisions DataFrame.
df_after_drop_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221389 entries, 0 to 221388
Data columns (total 30 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   OBJECTID         221389 non-null  int64
 1   INCKEY           221389 non-null  int64
 2   COLDETKEY        221389 non-null  int64
 3   REPORTNO         221389 non-null  object
 4   STATUS           221389 non-null  object
 5   ADDRTYPE         217677 non-null  object
 6   SEVERITYCODE     221388 non-null  object
 7   SEVERITYDESC     221389 non-null  object
 8   COLLISIONTYPE    195159 non-null  object
 9   PERSONCOUNT      221389 non-null  int64
 10  PEDCOUNT         221389 non-null  int64
 11  PEDCYLCOUNT      221389 non-null  int64
 12  VEHCOUNT         221389 non-null  int64
 13  INJURIES         221389 non-null  int64
 14  SERIOUSINJURIES  221389 non-null  int64
 15  FATALITIES       221389 non-null  int64
 16  INCDATE          221389 non-null  object
 17  INCDTTM          221389 non-null  object
 18  JUNCTIONTYPE     209417 non-null  object
 19  SDOT_COLCODE     221388 non-null  float64
 20  SDOT_COLDESC     221388 non-null  object
 21  UNDERINFL        195179 non-null  object
 22  WEATHER          194969 non-null  object
 23  ROADCOND         195050 non-null  object
 24  LIGHTCOND        194880 non-null  object
 25  ST_COLCODE       211976 non-null  object
 26  ST_COLDESC       195159 non-null  object
 27  SEGLANEKEY       221389 non-null  int64
 28  CROSSWALKKEY     221389 non-null  int64
 29  HITPARKEDCAR     221389 non-null  object
dtypes: float64(1), int64(12), object(17)
memory usage: 50.7+ MB

In [16]:
# Print the proportion of missing ("True") values in each column.
for column in df_after_drop_columns.columns:
    print(column, "(True -> NaN)")
    print("Relative frequency:")
    print(df_after_drop_columns[column].isnull().value_counts(normalize=True, dropna=False))
    print()
    print(df_after_drop_columns[column].describe(include="all"))
    print()

OBJECTID (True -> NaN)
Relative frequency:
False    1.0
Name: OBJECTID, dtype: float64

count    221389.00000
mean     110695.00000
std       63909.64371
min           1.00000
25%       55348.00000
50%      110695.00000
75%      166042.00000
max      221389.00000
Name: OBJECTID, dtype: float64

INCKEY (True -> NaN)
Relative frequency:
False    1.0
Name: INCKEY, dtype: float64

count    221389.000000
mean     144708.701914
std       89126.729589
min        1001.000000
25%       71634.000000
50%      127184.000000
75%      209783.000000
max      333843.000000
Name: INCKEY, dtype: float64

COLDETKEY (True -> NaN)
Relative frequency:
False    1.0
Name: COLDETKEY, dtype: float64

count    221389.000000
mean     144936.934541
std       89501.312920
min        1001.000000
25%       71634.000000
50%      127184.000000
75%      210003.000000
max      335343.000000
Name: COLDETKEY, dtype: float64

REPORTNO (True -> NaN)
Relative frequency:
False    1.0
Name: REPORTNO, dtype: float64

count      221389
unique     221386
top       1782439
freq            2
Name: REPORTNO, dtype: object

STATUS (True -> NaN)
Relative frequency:
False    1.0
Name: STATUS, dtype: float64

count      221389
unique          2
top       Matched
freq       195232
Name: STATUS, dtype: object

ADDRTYPE (True -> NaN)
Relative frequency:
False    0.983233
True     0.016767
Name: ADDRTYPE, dtype: float64

count     217677
unique         3
top        Block
freq      144917
Name: ADDRTYPE, dtype: object

SEVERITYCODE (True -> NaN)
Relative frequency:
False    0.999995
True     0.000005
Name: SEVERITYCODE, dtype: float64

count     221388
unique         5
top            1
freq      137596
Name: SEVERITYCODE, dtype: object

SEVERITYDESC (True -> NaN)
Relative frequency:
False    1.0
Name: SEVERITYDESC, dtype: float64

count                             221389
unique                                 5
top       Property Damage Only Collision
freq                              137596
Name: SEVERITYDESC, dtype: object

COLLISIONTYPE (True -> NaN)
Relative frequency:
False    0.881521
True     0.118479
Name: COLLISIONTYPE, dtype: float64

count         195159
unique            10
top       Parked Car
freq           48541
Name: COLLISIONTYPE, dtype: object

PERSONCOUNT (True -> NaN)
Relative frequency:
False    1.0
Name: PERSONCOUNT, dtype: float64

count    221389.000000
mean          2.227161
std           1.470190
min           0.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          93.000000
Name: PERSONCOUNT, dtype: float64

PEDCOUNT (True -> NaN)
Relative frequency:
False    1.0
Name: PEDCOUNT, dtype: float64

count    221389.000000
mean          0.038136
std           0.201815
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           6.000000
Name: PEDCOUNT, dtype: float64

PEDCYLCOUNT (True -> NaN)
Relative frequency:
False    1.0
Name: PEDCYLCOUNT, dtype: float64

count    221389.000000
mean          0.027350
std           0.164508
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: PEDCYLCOUNT, dtype: float64

VEHCOUNT (True -> NaN)
Relative frequency:
False    1.0
Name: VEHCOUNT, dtype: float64

count    221389.000000
mean          1.731057
std           0.829259
min           0.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          15.000000
Name: VEHCOUNT, dtype: float64

INJURIES (True -> NaN)
Relative frequency:
False    1.0
Name: INJURIES, dtype: float64

count    221389.000000
mean          0.373962
std           0.732158
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          78.000000
Name: INJURIES, dtype: float64

SERIOUSINJURIES (True -> NaN)
Relative frequency:
False    1.0
Name: SERIOUSINJURIES, dtype: float64

count    221389.000000
mean          0.015209
std           0.158072
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          41.000000
Name: SERIOUSINJURIES, dtype: float64

FATALITIES (True -> NaN)
Relative frequency:
False    1.0
Name: FATALITIES, dtype: float64

count    221389.000000
mean          0.001685
std           0.044701
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: FATALITIES, dtype: float64

INCDATE (True -> NaN)
Relative frequency:
False    1.0
Name: INCDATE, dtype: float64

count                     221389
unique                      6086
top       2006/11/02 00:00:00+00
freq                         103
Name: INCDATE, dtype: object

INCDTTM (True -> NaN)
Relative frequency:
False    1.0
Name: INCDTTM, dtype: float64

count        221389
unique       169519
top       11/2/2006
freq            103
Name: INCDTTM, dtype: object

JUNCTIONTYPE (True -> NaN)
Relative frequency:
False    0.945923
True     0.054077
Name: JUNCTIONTYPE, dtype: float64

count                                      209417
unique                                          7
top       Mid-Block (not related to intersection)
freq                                       101632
Name: JUNCTIONTYPE, dtype: object

SDOT_COLCODE (True -> NaN)
Relative frequency:
False    0.999995
True     0.000005
Name: SDOT_COLCODE, dtype: float64

count    221388.000000
mean         13.383115
std           7.301668
min           0.000000
25%          11.000000
50%          11.000000
75%          14.000000
max          87.000000
Name: SDOT_COLCODE, dtype: float64

SDOT_COLDESC (True -> NaN)
Relative frequency:
False    0.999995
True     0.000005
Name: SDOT_COLDESC, dtype: float64

count                                                221388
unique                                                   40
top       MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...
freq                                                  92023
Name: SDOT_COLDESC, dtype: object

UNDERINFL (True -> NaN)
Relative frequency:
False    0.881611
True     0.118389
Name: UNDERINFL, dtype: float64

count     195179
unique         4
top            N
freq      103874
Name: UNDERINFL, dtype: object

WEATHER (True -> NaN)
Relative frequency:
False    0.880663
True     0.119337
Name: WEATHER, dtype: float64

count     194969
unique        12
top        Clear
freq      114694
Name: WEATHER, dtype: object

ROADCOND (True -> NaN)
Relative frequency:
False    0.881028
True     0.118972
Name: ROADCOND, dtype: float64

count     195050
unique         9
top          Dry
freq      128535
Name: ROADCOND, dtype: object

LIGHTCOND (True -> NaN)
Relative frequency:
False    0.880261
True     0.119739
Name: LIGHTCOND, dtype: float64

count       194880
unique           9
top       Daylight
freq        119448
Name: LIGHTCOND, dtype: object

ST_COLCODE (True -> NaN)
Relative frequency:
False    0.957482
True     0.042518
Name: ST_COLCODE, dtype: float64

count     211976
unique        63
top           32
freq       44922
Name: ST_COLCODE, dtype: object

ST_COLDESC (True -> NaN)
Relative frequency:
False    0.881521
True     0.118479
Name: ST_COLDESC, dtype: float64

count                     195159
unique                        62
top       One parked--one moving
freq                       44922
Name: ST_COLDESC, dtype: object

SEGLANEKEY (True -> NaN)
Relative frequency:
False    1.0
Name: SEGLANEKEY, dtype: float64

count    221389.000000
mean        261.296320
std        3247.953616
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      525241.000000
Name: SEGLANEKEY, dtype: float64

CROSSWALKKEY (True -> NaN)
Relative frequency:
False    1.0
Name: CROSSWALKKEY, dtype: float64

count    2.213890e+05
mean     9.583127e+03
std      7.148311e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.239700e+06
Name: CROSSWALKKEY, dtype: float64

HITPARKEDCAR (True -> NaN)
Relative frequency:
False    1.0
Name: HITPARKEDCAR, dtype: float64

count     221389
unique         2
top            N
freq      209392
Name: HITPARKEDCAR, dtype: object

# dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
# Drop any row that contains at least one NaN.
print("Number of columns: %d" % list(df_after_drop_columns.columns).__len__())
df_after_drop_columns_and_rows = df_after_drop_columns.dropna(axis="index", how="any", thresh=df_after_drop_columns.columns.values.tolist().__len__, subset=None, inplace=False)

<h4>Count the Missing Values in each Column</h4>
<p>
We use a for loop to count the number of missing ("True") values in each column of the collisions DataFrame.
</p>

# Count the number of missing ("True") values in each column.
for column in missing_data_after_dropna.columns.values.tolist():
    print(column)
    print(missing_data_after_dropna[column].value_counts())
    print()

# Store all the numeric type columns of the collisions DataFradescribe a new
# DataFrame, and stores all the object type columns in another new DataFrame.

df_numeric = df.select_dtypes(include="number")
df_object = df.select_dtypes(include="object")

print("Number of numeric type columns in collisions DataFrame:", df_numeric.columns.size)
df_numeric.head()

print("Number of object type columns in collisions DataFrame:", df_object.columns.size)
df_object.head()

# For each column in the numeric DataFrame, print a description of the column.
for column in list(df_numeric.columns)[0:1]:
    #print(column)
    print(df_numeric[[column]].describe(include="all"))
    print()
    print(column, "relative frequency:")
    print(df_numeric[column].value_counts(normalize=True, dropna=False))
    print()
    print(column, "value count:")
    print(df_numeric[column].value_counts(normalize=False, dropna=False))
    print()
    print()

df_object[["SEVERITYCODE"]].describe(include='all')

df["SEVERITYCODE"].value_counts(dropna=False)

df["SEVERITYCODE"].value_counts(normalize=True, dropna=False)

df[df["SEVERITYCODE"].isnull() == True]

# Drop columns from the DataFrame that contain identifiers/keys with have no predictive value.
id_columns = ['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'SDOTCOLNUM', ]
df.drop(columns=id_columns, inplace=True)

# Compare two columns of DataFrame that have similar names.
pd.Series(df["SEVERITYCODE"] == df["SEVERITYCODE.1"]).value_counts()

# Columns SEVERITYCODE and SEVERITYCODE.1 are redundant,
# so drop column SEVERITYCODE.1 from the DataFrame.
df.drop(columns="SEVERITYCODE.1", inplace=True)

# Correct data format.

# Clean up time series
#df["INCDTTM"].value_counts().head(60)#ascending=True)