### Predicting the Severity of Automobile Accidents in Seattle, Washington ###

In this first week, you will discover your
project objectives, find your dataset that you will use for this capstone project, and publish your
dataset on GitHub.

In the second week, you will build your machine
learning solution.

In the third week,
you will finalize your model and be ready
to submit your work.

To complete capstone,
you will be working on a case study which is to predict the severity
of an accident.
Now, wouldn't it be great if there were something in place that could warn you, 
given the weather and the road conditions,
about the possibility of you getting into a car accident and how severe it would be,
so that you would drive more carefully or even change your travel plans?
Let's use our shared data for Seattle, Washington as an example of how to deal with the accidents data.

In [1]:
# Load the pandas package.
import pandas as pd

# Load the numpy package.
import numpy as np

In [2]:
# Read the Collisions Data CSV file and store it as a DataFrame.
#oldurl = "https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv"
# Attribute information URL: https://www.seattle.gov/Documents/Departments/SDOT/GIS/Collisions_OD.pdf
url = "http://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv?outSR={%22latestWkid%22:2926,%22wkid%22:2926}"
df_collisions = pd.read_csv(url, low_memory=False)

In [3]:
# Print a concise, technical summary of the DataFrame.
df_collisions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221144 entries, 0 to 221143
Data columns (total 40 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                213675 non-null  float64
 1   Y                213675 non-null  float64
 2   OBJECTID         221144 non-null  int64
 3   INCKEY           221144 non-null  int64
 4   COLDETKEY        221144 non-null  int64
 5   REPORTNO         221144 non-null  object
 6   STATUS           221144 non-null  object
 7   ADDRTYPE         217432 non-null  object
 8   INTKEY           71774 non-null   float64
 9   LOCATION         216558 non-null  object
 10  EXCEPTRSNCODE    100741 non-null  object
 11  EXCEPTRSNDESC    11771 non-null   object
 12  SEVERITYCODE     221143 non-null  object
 13  SEVERITYDESC     221144 non-null  object
 14  COLLISIONTYPE    194740 non-null  object
 15  PERSONCOUNT      221144 non-null  int64
 16  PEDCOUNT         221144 non-null  int64
 17  PEDCYLCOUNT      221144 non-null  int64
 18  VEHCOUNT         221144 non-null  int64
 19  INJURIES         221144 non-null  int64
 20  SERIOUSINJURIES  221144 non-null  int64
 21  FATALITIES       221144 non-null  int64
 22  INCDATE          221144 non-null  object
 23  INCDTTM          221144 non-null  object
 24  JUNCTIONTYPE     209182 non-null  object
 25  SDOT_COLCODE     221143 non-null  float64
 26  SDOT_COLDESC     221143 non-null  object
 27  INATTENTIONIND   30188 non-null   object
 28  UNDERINFL        194760 non-null  object
 29  WEATHER          194551 non-null  object
 30  ROADCOND         194631 non-null  object
 31  LIGHTCOND        194463 non-null  object
 32  PEDROWNOTGRNT    5188 non-null    object
 33  SDOTCOLNUM       127205 non-null  float64
 34  SPEEDING         9912 non-null    object
 35  ST_COLCODE       211731 non-null  object
 36  ST_COLDESC       194740 non-null  object
 37  SEGLANEKEY       221144 non-null  int64
 38  CROSSWALKKEY     221144 non-null  int64
 39  HITPARKEDCAR     221144 non-null  object
dtypes: float64(5), int64(12), object(23)
memory usage: 67.5+ MB

In [4]:
# Print the number of columns of each type in the DataFrame.
#df_collisions.dtypes.value_counts()

In [5]:
# Print the data type of each column of the DataFrame.
#df_collisions.dtypes

In [6]:
# Print the column labels for the DataFrame.
#df_collisions.columns

In [7]:
# Print the first 5 rows of the DataFrame.
df_collisions.iloc[0:5, 0:10]

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION
0,1.280915e+06,197717.534463,1,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...
1,NaN,NaN,2,115700,115700,10097005,Unmatched,NaN,NaN,NaN
2,1.265803e+06,269008.050248,3,1358,1358,3568600,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 134TH ST AND N 136TH ST
3,1.274389e+06,229235.950879,4,70700,70700,2806057,Matched,Block,NaN,E DENNY WAY BETWEEN 11TH AVE AND 12TH AVE
4,1.263093e+06,200192.534913,5,53600,53600,2127310,Matched,Block,NaN,DELRIDGE WAY SW BETWEEN SW MYRTLE ST AND SW OR...

In [8]:
# Print the first 5 rows of the DataFrame.
df_collisions.iloc[0:5, 9:19]

,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT
0,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,NaN,NaN,0,Unknown,NaN,0,0,0,0
1,NaN,NEI,"Not Enough Information, or Insufficient Locati...",0,Unknown,NaN,0,0,0,0
2,GREENWOOD AVE N BETWEEN N 134TH ST AND N 136TH ST,,NaN,1,Property Damage Only Collision,Left Turn,2,0,0,2
3,E DENNY WAY BETWEEN 11TH AVE AND 12TH AVE,NaN,NaN,1,Property Damage Only Collision,Parked Car,2,0,0,2
4,DELRIDGE WAY SW BETWEEN SW MYRTLE ST AND SW OR...,NaN,NaN,1,Property Damage Only Collision,Rear Ended,2,0,0,2

In [9]:
# Print the first 5 rows of the DataFrame.
df_collisions.iloc[0:5, 18:28]

,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND
0,0,0,0,0,2004/11/10 00:00:00+00,11/10/2004,Mid-Block (not related to intersection),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN
1,0,0,0,0,2010/04/07 00:00:00+00,4/7/2010,NaN,0.0,NOT ENOUGH INFORMATION / NOT APPLICABLE,NaN
2,2,0,0,0,2013/04/02 00:00:00+00,4/2/2013 3:10:00 PM,Mid-Block (not related to intersection),11.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN
3,2,0,0,0,2007/03/06 00:00:00+00,3/6/2007,Mid-Block (not related to intersection),13.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",NaN
4,2,0,0,0,2006/05/17 00:00:00+00,5/17/2006 4:56:00 PM,Mid-Block (but intersection related),14.0,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Y

In [10]:
# Print the first 5 rows of the DataFrame.
df_collisions.iloc[0:5, 27:37]

,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC
0,NaN,NaN,NaN,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,10097005.0,NaN,NaN,NaN
2,NaN,N,Overcast,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...
3,NaN,0,Clear,Dry,Other,NaN,7065007.0,NaN,32,One parked--one moving
4,Y,0,Clear,Dry,Daylight,NaN,6137017.0,NaN,14,From same direction - both going straight - on...

In [11]:
# Print the first 5 rows of the DataFrame.
df_collisions.iloc[0:5, 36:]

,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,NaN,0,0,N
1,NaN,0,0,N
2,From opposite direction - one left turn - one ...,0,0,N
3,One parked--one moving,0,0,N
4,From same direction - both going straight - on...,0,0,N

In [12]:
# Print the statistics for each column of the DataFrame with a numerical data type.
df_collisions.describe(include='all')

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,2.136750e+05,213675.000000,221144.000000,221144.000000,221144.000000,221144,221144,217432,71774.000000,216558,...,194631,194463,5188,1.272050e+05,9912,211731,194740,221144.000000,2.211440e+05,221144
unique,NaN,NaN,NaN,NaN,NaN,221141,2,3,NaN,25187,...,9,9,1,NaN,1,63,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,1782439,Matched,Block,NaN,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,...,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,2,194813,144784,NaN,298,...,128150,119149,5188,NaN,9912,44838,44838,NaN,NaN,209193
mean,1.271149e+06,229826.542246,110572.500000,144499.335261,144726.158928,NaN,NaN,NaN,37617.166258,NaN,...,NaN,NaN,NaN,7.971063e+06,NaN,NaN,NaN,261.585804,9.591375e+03,NaN
std,7.360490e+03,20457.746422,63838.918302,88953.719744,89326.449360,NaN,NaN,NaN,51918.292696,NaN,...,NaN,NaN,NaN,2.611523e+06,NaN,NaN,NaN,3249.740639,7.151363e+04,NaN
min,1.249026e+06,184059.089009,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,NaN,...,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.266679e+06,214250.604271,55286.750000,71572.750000,71572.750000,NaN,NaN,NaN,28653.000000,NaN,...,NaN,NaN,NaN,6.007029e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.271142e+06,228336.502686,110572.500000,127061.500000,127061.500000,NaN,NaN,NaN,29973.000000,NaN,...,NaN,NaN,NaN,8.033011e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,1.276030e+06,245908.853680,165858.250000,209528.250000,209748.250000,NaN,NaN,NaN,33983.750000,NaN,...,NaN,NaN,NaN,1.018101e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,1.293052e+06,271525.414794,221144.000000,333528.000000,335028.000000,NaN,NaN,NaN,757580.000000,NaN,...,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

In [13]:
df_collisions[["SEVERITYCODE"]].describe(include='all')

       SEVERITYCODE
count        221143
unique            5
top               1
freq         137414

In [14]:
df_collisions["SEVERITYCODE"].value_counts(dropna=False)

1      137414
2       58665
0       21619
2b       3096
3         349
NaN         1
Name: SEVERITYCODE, dtype: int64

In [15]:
df_collisions["SEVERITYCODE"].value_counts(normalize=True, dropna=False)

1      0.621378
2      0.265280
0      0.097760
2b     0.014000
3      0.001578
NaN    0.000005
Name: SEVERITYCODE, dtype: float64

In [16]:
df_collisions[df_collisions["SEVERITYCODE"].isnull() == True].iloc[:, 0:13]

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE
194173,1.271986e+06,233599.502243,194174,270579,271399,3753394,Matched,Intersection,29084.0,EASTLAKE AVE E AND E NELSON PL,,NaN,NaN

In [17]:
df_collisions[df_collisions["SEVERITYCODE"] == '0']

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1.280915e+06,197717.534463,1,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N
1,NaN,NaN,2,115700,115700,10097005,Unmatched,NaN,NaN,NaN,...,NaN,NaN,NaN,10097005.0,NaN,NaN,NaN,0,0,N
16,1.258814e+06,218426.090964,17,1153,1153,3615278,Unmatched,Block,NaN,HARBOR AVE SW BETWEEN CALIFORNIA WAY SW AND FA...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
21,1.269741e+06,242541.772268,22,1256,1256,3645686,Unmatched,Block,NaN,DENSMORE AVE N BETWEEN N 39TH ST AND N 40TH ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
45,1.265668e+06,260898.821823,46,1176,1176,3374800,Unmatched,Intersection,36419.0,GREENWOOD AVE N AND HOLMAN RD N,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221118,1.273285e+06,262033.643136,221119,318323,319823,E916266,Unmatched,Block,NaN,NE NORTHGATE WAY BETWEEN 3RD AVE NE AND 5TH AV...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y
221119,1.268674e+06,246229.345456,221120,318348,319848,3750764,Unmatched,Intersection,25532.0,STONE AVE N AND N 50TH ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
221120,1.283829e+06,234843.889829,221121,318693,320193,E918218,Unmatched,Block,NaN,E MADISON ST BETWEEN E BLAINE ST AND 41ST E AVE E,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y
221122,1.256550e+06,208236.372553,221123,316905,318405,E906328,Unmatched,Block,NaN,44TH AVE SW BETWEEN SW ALASKA ST AND SW EDMUND...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y
221138,1.280215e+06,226767.780700,221139,318709,320209,E918339,Unmatched,Block,NaN,30TH AVE BETWEEN E SPRING ST AND E UNION ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y

In [18]:
# Drop columns from the DataFrame that contain identifiers/keys with have no predictive value.
#id_columns = ['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'SDOTCOLNUM', ]
#df_collisions.drop(columns=id_columns, inplace=True)

In [19]:
# Compare two columns of DataFrame that have similar names.
# pd.Series(df_collisions["SEVERITYCODE"] == df_collisions["SEVERITYCODE.1"]).value_counts()

In [20]:
# Columns SEVERITYCODE and SEVERITYCODE.1 are redundant,
# so drop column SEVERITYCODE.1 from the DataFrame.
#df_collisions.drop(columns="SEVERITYCODE.1", inplace=True)

# Identify missing data in the DataFrame.
missing_data = df_collisions.isnull()

print("True corresponds to NaN in the Collisions DataFrame.")
print("False corresponds to actual data in the Collisions DataFrame.")

print()
# Count missing values in each column.
for column in missing_data.columns.values.tolist():
    print(column, ":", sep='')
    #print("Absolute frequencies of NaN (not normalized):")
    #print(missing_data[column].value_counts())
    print("Relative frequencies of NaN (normalized):")
    print (missing_data[column].value_counts(normalize=True))
    print()

# Deal with missing data.
# Print relative frequency of each unique value for each column of the DataFrame.
for column in df_collisions.columns.values.tolist():
    print(column, ":", sep='')
    print("Relative frequencies of values including NaN (normalized):")
    print(df_collisions[column].value_counts(normalize=True, dropna=False))
    print("Frequencies of values including NaN (not normalized):")
    print(df_collisions[column].value_counts(dropna=False))
    print()

In [21]:
# Correct data format.

In [22]:
# Clean up time series
#df_collisions["INCDTTM"].value_counts().head(60)#ascending=True)